<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>收款账户管理</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
     <style>
       .userSetMsg{
        float: right;
        margin-right: 35px;
       }
     </style>
 </head>
 <body>

<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        收款账户管理
    </div>
    <div class="operationEl" onclick="window.location.href='bindPayInfoWx.html'">
      <img src="../img/wx-ic.png"/>
      <span>微信</span>
      <span class="userSetMsg" v-if="!userInfo.weixinnum" v-cloak style="margin-right:10px;">未添加</span>
      <span class="userSetMsg" v-if="userInfo.weixinnum"  v-cloak style="margin-right:10px;">已添加</span>
      <div class="payTypeInfo" v-if="userInfo.weixinnum"  v-cloak>
            <div>{{userInfo.weixinrealname}}</div>
            <div>{{userInfo.weixinnum}}</div>
            <img :src="reqPath+userInfo.weixinqrcode"/>
      </div>
    </div>

    <div class="operationEl" onclick="window.location.href='bindPayInfoZfb.html'">
      <img src="../img/zfb-ic.png"/>
      <span>支付宝</span>
      <span class="userSetMsg" v-if="!userInfo.alipaynum" v-cloak style="margin-right:10px;">未添加</span>
      <span class="userSetMsg" v-if="userInfo.alipaynum"  v-cloak style="margin-right:10px;">已添加</span>
      <div class="payTypeInfo" v-if="userInfo.alipaynum"  v-cloak>
            <div>{{userInfo.alipayrealname}}</div>
            <div>{{userInfo.alipaynum}}</div>
            <img :src="reqPath+userInfo.alipayqrcode"/>
      </div>
    </div>

    <div class="operationEl" onclick="window.location.href='bindPayInfoBank.html'">
      <img src="../img/bank-ic.png"/>
      <span>银行卡</span>
      <span class="userSetMsg" v-if="!userInfo.banknum" v-cloak style="margin-right:10px;">未添加</span>
      <span class="userSetMsg" v-if="userInfo.banknum"  v-cloak style="margin-right:10px;">已添加</span>
      <div class="payTypeInfo" v-if="userInfo.banknum"  v-cloak>
            <div>{{userInfo.bankrealname}}<span style="margin-left:20px;">{{userInfo.bank}}</span></div>
            <div>{{userInfo.banknum}}</div>
      </div>
    </div>

</section>


 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a href="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a  href="../activity.html" class="text">活动中心</a>
     </li>
     <li class="list_li cart">
         <a  href="../cardBag/bagOwn.html" class="text">卡包</a>
     </li>
     <li class="list_li profile">
         <a  href="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
    return {
        reqPath : reqPath,
        userInfo : {},
    }
    },
    created() {
        this.getMyUserInfo();
    },
    methods:{
        //查询用户信息
        getMyUserInfo(){
            var vueThis = this;
            jAjax("/appUserCenter/getPaymentMethod",{},function(data){
                vueThis.userInfo = data;
            });
        }

  }
})
  </script>

</html>