<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>收款账户管理</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
     <script src="../js/exif.js"></script>
     <style>
       .userSetMsg{
        float: right;
        margin-right: 35px;
       }
     </style>
 </head>
 <body>

<section class="main" id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        收款账户管理
    </div>
    <div class="operationEl operationElFirst">
        <img src="../img/zfb-ic.png"/>
        <span>支付宝收款</span>
        <div style="font-size:0.75rem;margin-top:-20px;">提示 ：为避免您的经济损失，请仔细核对收款账号信息</div>
    </div>

    <div class="operationEl">
        <span style="margin-left:0;">姓名：</span>
        <div style="margin-top:-20px;">
            <input v-model="userInfo.alipayrealname" placeholder="请输入收款人真实姓名" style="width:90%;height:30px;border:0;color:#555;"/>
        </div>
    </div>
    <div class="operationEl">
        <span style="margin-left:0;">支付宝号：</span>
        <div style="margin-top:-20px;">
            <input v-model="userInfo.alipaynum" placeholder="请输入收款支付宝号" style="width:90%;height:30px;border:0;color:#555;" v-cloak/>
        </div>
    </div>
    <div class="operationEl" style="border:0;">
        <span style="margin-left:0;">收款码：</span>
        <input onchange="fileChangeFun2(this,'skmImg','pzBase64');" class="imgFileInput" type="file" accept="image/*" multiple="" style="margin-top:50px">
        <img v-cloak v-if="!userInfo.alipayqrcode" src="../img/default-skm.png" id="skmImg" class="defaultSKM"/> 
        <img v-cloak v-if="userInfo.alipayqrcode" :src="reqPath+userInfo.alipayqrcode" id="skmImg" class="defaultSKM"/>
        <input id="pzBase64" ref="pzBase64" type="hidden" />
    </div>
    <div class="but-cont">
        <div class="btn btn-200" @click="savePayment" >立 即 保 存</div>
    </div>
</section>


 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a   href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
     </li>
     <li class="list_li cart">
         <a   href="javascript:void(0);" shref="../gameList.html" class="text">享玩游戏</a>
     </li>
     <li class="list_li profile">
         <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
        return {
            reqPath : reqPath,
            userInfo:{}, 
        }
    },
    created() {
        this.getMyUserInfo();
    },
    methods:{
        //查询用户信息
        getMyUserInfo(){
            var vueThis = this;
            jAjax("/appUserCenter/getPaymentMethod",{},function(data){
                vueThis.userInfo = data;
            });
        },
        //保存支付方式
        savePayment(){
            if(!this.userInfo.alipayrealname){
                jqtoast("请输入收款人真实姓名！");
                return;
            }
            if(!this.userInfo.alipaynum){
                jqtoast("请输入支付宝账号！");
                return;
            }
            var pzBase64 = this.$refs.pzBase64.value;
            if(!pzBase64 && !this.userInfo.alipayqrcode){
                jqtoast('请上传收款码！');
                return;
            }
            this.userInfo.alipayqrcode = pzBase64;
            this.userInfo.weixinqrcode = "";
            this.userInfo.userid = getCptToken();
            jAjax("/appUserCenter/updateAddPaymentMethod",this.userInfo,function(data){
                window.location.href="bindPayType.html";
            });
            

        }

  }
})
  </script>

</html>