<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>账号设置</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
     <script src="../js/exif.js"></script>
     <style>
       .userSetMsg{
        float: right;
        margin-right: 35px;
       }
     </style>
 </head>
 <body>

<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        账号设置
    </div>
    <div class="operationEl" style="margin-top:5px;height: 50px;">
      <img v-if="userInfo.headimage" :src="userInfo.headimage" id="tx" style="width:45px;height:45px;margin-top:5px; border-radius:22.5px;" />
      <img v-else src="../img/defaulttx.png" id="tx" style="width:45px;height:45px;margin-top:5px; border-radius:22.5px;" />
      <!-- <span>修改头像</span> -->
      <input id="cf" onchange="chagntx(this,'tx');" class="imgFileInput" type="file" accept="image/*" multiple="" style="width:45px;height:45px;margin-left:2%;margin-top:0px;">
      <span class="userSetMsg" onclick="$('#cf').click()">修改头像</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl" @click="setUserName(userInfo.nickname)">
      <img src="../img/edit-ic.png"/>
      <span>修改昵称</span>
      <span class="userSetMsg"  v-cloak>{{userInfo.nickname}}</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/phone-ic.png"/>
      <span>手机号码</span>
      <span class="userSetMsg"  v-cloak>{{userInfo.phone}}</span>
    </div>
    <div class="operationEl" :onclick="`window.location.href='setPayPsd.html?phone=${userInfo.phone}'`">
      <img src="../img/set-ic.png"/>
      <span>修改支付密码</span>
      <span class="userSetMsg" v-cloak >
          <font v-if="userInfo.ispaypass==0">未设置</font>
          <font v-if="userInfo.ispaypass==1">已设置</font>
      </span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl" :onclick="`window.location.href='${userInfo.isrealname==0?'certification':'certificationInfo'}.html'`">
      <img src="../img/handPor-ic.png"/>
      <span>身份认证</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==0" onclick="window.location.href='certification.html'" v-cloak>未认证</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==1" onclick="window.location.href='certificationInfo.html'" v-cloak>认证中</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==2" onclick="window.location.href='certificationInfo.html'" v-cloak>认证通过</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==3" onclick="window.location.href='certificationInfo.html'" v-cloak>认证失败</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl" onclick="window.location.href='bindPayType.html'">
      <img src="../img/bank-ic.png"/>
      <span>收款方式管理</span>
      <span class="userSetMsg"  v-if="userInfo.ispaymentmethod==0"  v-cloak>未设置</span>
      <span class="userSetMsg"  v-if="userInfo.ispaymentmethod==1"  v-cloak>已设置</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl"  onclick="window.location.href='changePasswrod.html'">
      <img src="../img/set-ic.png"/>
      <span>修改登录密码</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
</section>


 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a   href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
     </li>
     <li class="list_li cart">
         <a   href="javascript:void(0);" shref="../gameList.html" class="text">享玩游戏</a>
     </li>
     <li class="list_li profile">
         <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
    return {
        reqPath : reqPath,
        userInfo : {
          headimage:'../img/defaulttx.png'
        },
    }
    },
    created() {
        this.getMyUserInfo();
    },
    methods:{
        setUserName(name){
          window.location.href='serUserName.html?nickname='+name;
        },
        //查询用户信息
        getMyUserInfo(){
            var vueThis = this;
            jAjax("/appUserCenter/getMyUserInfo",{},function(data){
                if(data.headimage)
                  data.headimage = vueThis.reqPath+data.headimage;
                vueThis.userInfo = data;
            });
        }

  }
})
  </script>

</html>