<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享GO</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
     <style>
       .userSetMsg{
        float: right;
        margin-right: 35px;
       }
     </style>
 </head>
 <body>

<section class="main"  id="app">
    <div class="title">
        <img src="../img/to-left.png" onclick="history.back(-1)"/>
        账号设置
    </div>
    <div class="operationEl" style="margin-top:5px;height: 50px;">
      <img src="../img/handPor-ic.png" style="width:45px;height:45px;margin-top:5px;"/>
      <!-- <span>修改头像</span> -->
      <span class="userSetMsg" >修改头像</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/edit-ic.png"/>
      <span>修改昵称</span>
      <span class="userSetMsg"  v-cloak  onclick="window.location.href='serUserName.html'">{{userInfo.nickname}}</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/phone-ic.png"/>
      <span>手机号码</span>
      <span class="userSetMsg"  v-cloak>{{userInfo.phone}}</span>
    </div>
    <div class="operationEl">
      <img src="../img/set-ic.png"/>
      <span>修改支付密码</span>
      <span class="userSetMsg" v-if="userInfo.ispaypass==0"  v-cloak onclick="window.location.href='setPayPsd.html'">未设置</span>
      <span class="userSetMsg" v-if="userInfo.ispaypass==1"  v-cloak onclick="window.location.href='setPayPsd.html'">已设置</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/handPor-ic.png"/>
      <span>实名认证</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==0"  v-cloak>未认证</span>
      <span class="userSetMsg" v-if="userInfo.isrealname==1"  v-cloak>已认证</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/bank-ic.png"/>
      <span>收款方式管理</span>
      <span class="userSetMsg" onclick="window.location.href='bindPayType.html'" v-if="userInfo.ispaymentmethod==0"  v-cloak>未设置</span>
      <span class="userSetMsg" onclick="window.location.href='bindPayType.html'"  v-if="userInfo.ispaymentmethod==1"  v-cloak>已设置</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
    <div class="operationEl">
      <img src="../img/set-ic.png"/>
      <span>修改登录密码</span>
      <img src="../img/to-right.png" style="right:5%;"/>
    </div>
</section>


 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a href="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a  href="../activity.html" class="text">活动中心</a>
     </li>
     <li class="list_li cart">
         <a  href="../cardBag/bagOwn.html" class="text">卡包</a>
     </li>
     <li class="list_li profile">
         <a  href="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
    return {
        userInfo : {},
    }
    },
    created() {
        this.getMyUserInfo();
    },
    methods:{
        //查询用户信息
        getMyUserInfo(){
            var vueThis = this;
            jAjax("/appUserCenter/getMyUserInfo",{},function(data){
                vueThis.userInfo = data;
            });
        }

  }
})
  </script>

</html>