<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <script src="../js/jquery-3.1.1.min.js"></script>
     <title>收货地址管理</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/address.css"/>
 </head>
 <body style="background-color: #fff">
  <!-- <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div> -->
<section class="main"  id="app">
  <div class="title">
     <img src="../img/to-left.png" onclick="history.back(-1)"/>
     收货地址管理
  </div>

<div class="addrel" v-for="(addr,i) in addrList">
  <div class="addrbut"  @click="deleteAddr(addr,i)">删除</div>
  <div class="addrbut" style="margin-top:30px;" @click="updateaddr(addr)">修改</div>
  {{addr.name}}<span style="margin-left:20px;">{{addr.phone}}</span>
  <span class="addresstex">{{addr.province}}{{addr.city}}{{addr.county}}{{addr.address}}</span>
</div>

<div class="nontAddr" v-if="!addrList || addrList.length==0">
  您还没有设置收货地址！
</div>

<div class="but-cont" style="position: fixed;bottom:10px;">
  <div class="btn btn-200" style="width:80% !important;" @click="addAddress">添 加 收 货 地 址</div>
</div>



<!--新增收货地址-->
<div class="addAddressWin" v-show="addAddressWin">
    <div class="title">
        <img src="../img/to-left.png" @click="addAddressWin=false"/>
        新增收货地址
    </div>
    <div class="addAddrel">
      收货人 <span class="isdsdg">*</span> <input v-model="edAddrBo.name" maxlength="5" placeholder="请填写收货人姓名"/>
    </div> 
    <div class="addAddrel">
      手机号码 <span class="isdsdg">*</span> <input v-model="edAddrBo.phone" maxlength="11" placeholder="请填写收货人手机号"/>
    </div> 
    <div class="addAddrel">
      所在地区 <span class="isdsdg">*</span> <input placeholder="省 市 区 乡镇"  readonly id="expressArea" name="location"/>
    </div> 




    <div class="addAddrel">
      详细地址 <span class="isdsdg">*</span> <input v-model="edAddrBo.address"  maxlength="30" placeholder="请填写详细地址"/>
    </div> 
    <div class="addAddrel addisdefault" v-cloak>
        设置为默认 
        <img src="../img/ntxy.png" v-if="!isdefault"  @click="isdefault=!isdefault"/>
        <img src="../img/tyxy.png" v-if="isdefault" @click="isdefault=!isdefault"/>
    </div> 
    <div class="but-cont" style="position: fixed;bottom:10px;">
      <div class="btn btn-200" style="width:80% !important;" @click="saveAddr">立 即 保 存</div>
    </div>
</div>
<!--end新增收货地址-->



</section>
    <!--选择地区弹层-->
    <section id="areaLayer" class="express-area-box">
      <header>
          <h3>选择地区</h3>
          <a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
          <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
      </header>
      <article id="areaBox">
          <ul id="areaList" class="area-list"></ul>
      </article>
    </section>
    <!--遮罩层-->
    <div id="areaMask" class="mask"></div>
    <script src="../js/jquery.area.js"></script>
</body>


</html>

<script src="../js/vue.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return {
            addrList:[],
            addAddressWin:false,
            isdefault:false,
            edAddrBo:{
              name:'',
              phone:'',
              province:'',
              city:'',
              county:'',
              town:'',
              address:'',
              isdefault:'0'
            }
        }
      },
      created() {
          this.queryAddress();
      },
      methods:{
        deleteAddr(addr,i){
          this.addrList.splice(i,1);
          jAjax("/appUserCenter/deleteAddress",{addressid:addr.addressid},function(data){});
        },
        updateaddr(addr){
          this.edAddrBo = addr;
          var s = addr.province +">" + addr.city;
          if(addr.county){
            s += ">"+addr.county;
          }
          $("#expressArea").val(s);
          this.addAddressWin = true;
        },
        queryAddress(){
          var vThis = this;
          jAjax("/appUserCenter/getAddressList",{},function(data){
            vThis.addrList = data.resultlist;
          });
        },
        //新增地址保存修改
        saveAddr(){
          if(!this.edAddrBo.name){
            jqtoast("请填写收货人姓名！");
            return;
          }
          if(!this.edAddrBo.phone){
            jqtoast("请填写收货人联系电话！");
            return;
          }
          if(!$("#expressArea").val()){
            jqtoast("请选择收货地址！");
            return;
          }
          if(!this.edAddrBo.address){
            jqtoast("请填写详细地址！");
            return;
          }
          var addPs = $("#expressArea").val().split(">");
          this.edAddrBo.province = addPs[0];
          this.edAddrBo.city = addPs[1];
          if(addPs[2]){
            this.edAddrBo.county = addPs[2];
          }
          var vueThis = this;
          jAjax("/appUserCenter/insertOrUpdateAddress",this.edAddrBo,function(data){
            if(data.status==0){
              jqtoast("操作成功");
              vueThis.queryAddress();
              vueThis.addAddressWin = false;
            }else{
              jqtoast(data.message);
            }
          });

        },
        //打开地添加地址窗口
        addAddress(){
          this.edAddrBo = {};
          this.addAddressWin = true;
        }
        
      }
    })
  </script>