<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>XGO转赠</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
     <script src="../js/exif.js"></script>
     <style>
       .userSetMsg{
        float: right;
        margin-right: 35px;
       }
     </style>
 </head>
 <body>

<section class="main" id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        XGO转赠
    </div>
    <div class="operationEl operationElFirst">
        <img src="../img/integral-ic.png"/>
        <span style="font-size: 0.85rem;">当前可转赠XGO：21</span>
        <div style="font-size:0.75rem;margin-top:-20px;">温馨提示 ：交易一旦完成不可回退，请谨慎操作！</div>
    </div>

    <div class="operationEl">
        <span style="margin-left:0;">请输入好友手机：</span>
        <div style="margin-top:-20px;">
            <input v-model="giveInfo.phone" placeholder="" style="width:90%;height:30px;border:0;color:#555;"/>
        </div>
    </div>
    <div class="operationEl">
        <span style="margin-left:0;">请输入转赠数量：</span>
        <div style="margin-top:-20px;">
            <input v-model="giveInfo.number" placeholder="" style="width:90%;height:30px;border:0;color:#555;" v-cloak/>
        </div>
    </div>
    <div class="operationEl">
        <span style="margin-left:0;">请输入交易密码：</span>
        <div style="margin-top:-20px;">
            <input v-model="giveInfo.pwd" type="password" style="width:90%;height:30px;border:0;color:#555;" v-cloak/>
        </div>
    </div>
    <br>
    <div class="but-cont">
        <div class="btn btn-200" @click="savePayment" >立 即 转 赠</div>
    </div>
</section>


 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a href="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a  href="../activity.html" class="text">活动中心</a>
     </li>
     <li class="list_li cart">
         <a  href="../cardBag/bagOwn.html" class="text">卡包</a>
     </li>
     <li class="list_li profile">
         <a  href="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
        return {
            reqPath : reqPath,
            giveInfo:{}
        }
    },
    created() {
    },
    methods:{
        //giveXgo
        giveXgo(){
            var vueThis = this;
            jAjax("/appUserCenter/getPaymentMethod",{},function(data){
                vueThis.userInfo = data;
            });
        }
    }
})
  </script>

</html>