@charset "utf-8";
/* CSS Document */

.stru_list { background:#fff;}
.stru_list .title { font-size:18px; color:#121212; padding:10px 15px 10px 40px; line-height:20px; background:url(../images/public/ico_cp2.png) no-repeat 15px 12px; background-size:16px 16px; border-bottom:1px solid #bababa;}
.stru_list .title_0 { font-size:18px; color:#121212; padding:10px 15px 10px 40px; line-height:20px; background:url(../images/public/ico_cp.png) no-repeat 15px 12px; background-size:16px 16px; border-bottom:1px solid #bababa;}
.stru_list .title_blue { font-size:18px; color:#121212; padding:10px 15px 10px 40px; line-height:20px; background:url(../images/public/ico_cp3.png) no-repeat 15px 12px; background-size:16px 16px; border-bottom:1px solid #bababa;}
.stru_list .title2 { font-size:18px; color:#121212; padding:10px 15px; line-height:20px;border-bottom:1px solid #bababa;}
.stru_list .title2 em { color:#999; padding:0px 2px;}
.stru_list .quyu li:last-child { border-bottom:0px;}
.stru_list .dianpu { border-top:1px solid #d5d5d5;}
.stru_list .dianpu li:last-child { border-bottom:0px;}
.stru_list .leve_a { border-bottom:1px solid #d5d5d5;}
.stru_list .leve_a_s { display:block; line-height:36px; padding:0px 15px 0px 15px; background-repeat:no-repeat; background-position:15px 50%; background-size:10px 10px; color:#424242;}
.stru_list .leve_b { border-bottom:1px solid #e5e5e5;}
.stru_list .leve_b_s { display:block; line-height:36px; padding:0px 15px 0px 45px; background-repeat:no-repeat; background-position:30px 50%; background-size:10px 10px;}
.stru_list .single .leve_b_s { padding-left:30px;}
.stru_list .user_box { border-top:1px solid #e5e5e5; color:#999; font-size:14px;}
.stru_list .user_box li { border-bottom:1px solid #e5e5e5; height:37px; padding:0px 30px 0px 71px;}
.stru_list .user_box li:last-child { border-bottom:0px;}
.stru_list .p_left li { padding-left:45px;}
.stru_list .check_ed { display:block; background:url(../images/public/check_ed2.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:left;}
.stru_list .check { display:block; background:url(../images/public/check2.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:left;}
.stru_list .check2_ed { display:block; background:url(../images/public/check_ed3.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.stru_list .check2 { display:block; background:url(../images/public/check3.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.stru_list .radio_ed { display:block; background:url(../images/public/check_ed.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.stru_list li .radio { display:block; background:url(../images/public/check.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.stru_list .quyu i { display:block; float:left; line-height:36px;}
.stru_list .quyu em.em_down { display:block; float:right; height:36px; width:14px; background:url(../images/public/link_down.png) no-repeat center; background-size:14px 14px; text-indent:-999px; overflow:hidden;}
.stru_list .quyu em.em_up { display:block; float:right; height:36px; width:14px; background:url(../images/public/link_up.png) no-repeat center; background-size:14px 14px; text-indent:-999px;overflow:hidden;}
.stru_list .bg_show { background-image:url(../images/public/list_bg2.png);}
.stru_list .bg_hidden { background-image:url(../images/public/list_bg1.png);}
.stru_list .quyu .bg_show { padding-left:30px;}
.stru_list .quyu .bg_hidden { padding-left:30px;}
.stru_list .dianpu .bg_show { padding-left:45px;}
.stru_list .dianpu .bg_hidden { padding-left:45px;}
.stru_list .person { height:30px;}
.stru_list .person span { display:block; float:left; padding:0px 15px 0px 60px; line-height:30px;}
.stru_list .person span em { display:block; float:left;}
.stru_list .person i { display:block; float:right; line-height:30px; margin-left:20px;}
.stru_list .bold { font-weight:bold;}
.stru_list .bold em { display:block; float:right; height:14px; width:14px; margin:11px 10px 11px 0px; text-indent:-9999px; overflow:hidden;}
.stru_list .bold em.show { background:url(../images/public/link_down.png) no-repeat; background-size:14px 14px;}
.stru_list .bold em.hidden { background:url(../images/public/link_up.png) no-repeat; background-size:14px 14px;}
.stru_list .ico_person { background:url(../images/public/ico_person.png) no-repeat left; padding-left:20px;}
.stru_list .ico_person_0 { background:url(../images/public/ico_person2.png) no-repeat left; padding-left:20px;}
.stru_list .ico_person_blue { background:url(../images/public/ico_person3.png) no-repeat left; padding-left:20px;}
.stru_list .ico_org { background:url(../images/public/ico_org4.png) no-repeat left; padding-left:20px;}
.stru_list .ico_org2 { background:url(../images/public/ico_org2.png) no-repeat left; padding-left:20px;}
.stru_list .ico_org3 { background:url(../images/public/ico_org3.png) no-repeat left; padding-left:20px;}
.stru_list .ico_org_0 { background:url(../images/public/ico_org.png) no-repeat left; padding-left:20px;}
.stru_list .ico_org_blue { background:url(../images/public/ico_org4.png) no-repeat left; padding-left:20px;}

.search_list { padding:0px 10px 0px 15px;}
.search_list li { float:left; border:1px solid #e5e5e5; background:#f5f5f5; border-radius:24px; height:24px; padding:0px 12px; margin-right:5px; line-height:22px; margin-bottom:5px;}
.search_list li span { line-height:22px; padding:0px;}
.search_list li i { padding-left:10px; color:#afafaf; font-size:18px;}

.sel_classa li { border-bottom:1px solid #d5d5d5; line-height:36px; padding:0px 15px; height:37px;}
.sel_classa li span { display:block; color:#424242; background:url(../images/public/link_left.png) no-repeat right; background-size:13px 13px;}
.sel_classa li i { display:block; float:left; color:#424242;}
.sel_classa li .radio_ed { display:block; background:url(../images/public/check_ed.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.sel_classa li .radio { display:block; background:url(../images/public/check.png) no-repeat; background-size:100% 100%; width:14px; height:14px; margin:11px 10px 11px 0px; text-indent:-999px; overflow:hidden; float:right;}
.sel_classa li:last-child { border-bottom:0px;}