<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享购影视</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="css/public.css"/>
     <link rel="stylesheet" type="text/css" href="css/myCenter.css"/>
     <script src="js/jquery-3.4.1.js"></script>
     <script src="js/jq-alert.js"></script>
     <script src="js/vue.js"></script>
     <script src="js/base.js"></script>
 </head>
 <body>
 <!-- <div class="loading" id="loadingWindow" style="display:block;background:#f3f1f1;opacity: 0.9;"><img src="img/timg.gif"/></div> -->

<section class="main"  id="app">
    <div class="title" style="background-color:rgb(117, 174, 253);color:#fff;border:none;">
        <img src="img/to-leftffff.png" onclick="history.back(-1)"/>
        活动
    </div>
    <img src="img/activT.png" style="width: 100%;margin-top:-1px;"/>
    <img src="img/activ1.png" style="width: 100%;"/>
    <div class="activBut">
        <div @click="ckActiv(1)"style="margin-left: 0;"></div>
        <div @click="ckActiv(2)"></div>
        <div @click="ckActiv(3)"></div>
        <div @click="ckActiv(4)"></div>
    </div>
    <div class="clear"></div>
    <div class="maeeageTx"  style="top:170px" id="lookMsg" style="height: auto;" onclick="window.location.href='introduce.html'">
        <span>操作引导</span>
    </div>


<!--vipInfo-->
<div v-for="(item,i) in vipCardList" v-cloak>
    <div style="margin-bottom:15px;">
        <div  :class="`vipInfo-active vipInfo  v${item.forder}-c`" :style="`background-image:url('img/V${item.forder}_BG.png')`" >
        <span style="margin-bottom:5px;">{{item.typename}}</span>
        领取{{item.typename}} {{item.commentstartdays}} 天后且完成相应任务要求即可转让您的任务卡！领取{{item.yield}}%任务奖励。
            <div class="v-numver" style="width: 90%;">
                <div>价格范围：{{item.minprice}} - {{item.maxprice}}</div>
                <div>任务期限：{{item.watchdays}} 天</div>
                <div>开放时间：{{item.starttime}} - {{item.endtime}}</div>
                <div>消耗XGO币：{{item.xgocoin}}</div>
                <span class="clear">
        </div>
        <img :src="`img/V${item.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
        </div>
        <div class="clear"></div>
        <div v-if="item.secondbuy && item.secondbuy<120 && item.secondbuy>0">
            <input type="button" :value="fmtTimeSecond(item.secondbuy,item)" :class="`active-but  v${item.forder}-bg`"/>
        </div>
        <div v-else>
            <div v-if="item.havebuy==1 || item.havebuy==2">
                <input type="button" v-if="item.havebuy==1" value="任務分派中" :class="`active-but  v${item.forder}-bg`"/>
                <input type="button" v-if="item.havebuy==2" value="今日任务已领取" :class="`active-but  v${item.forder}-bg`" 
                    onclick="window.location.href='cardBag/bagPayWait.html'"/>
            </div>
            <div v-else>
                <input type="button" v-if="item.isbuy==1" @click="rushToBuyCard(item.forder,i)" value="领 取 任 务" :class="`active-but  v${item.forder}-bg`" />
                <input type="button" v-if="item.isbuy==0" value="暂 未 开 启" :class="`active-but  v${item.forder}-bg`"/>
            </div>
        </div>
    </div>
    <div class="payWaitLoad" v-if="item.havebuy==1"><img src="img/timg.gif"/></div>
    <div class="payWaitLoad" v-if="item.havebuy==2"></div>

</div>



<div class="qiandWin" v-if="qdFlg"  v-cloak></div>
    <div class="qiandContDiv" v-if="qdFlg"  v-cloak>
      <div class="qdsucTitle">签到成功</div>
      <div class="qdsuccont" v-cloak style="height: 70px;">{{qdMessage}}</div>
      <div style="text-align:center;margin-top:-35px;"><img src="img/lib.png" style="width:200px;height:200px;"  v-cloak/></div>
      <div style="text-align:center;margin-top:-20px;">
          <div class="btn" @click="qdFlg = false">知 道 了</div>
      </div>
    </div>

</section>



 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a href="index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a  href="community.html" class="text">享互动</a>
       </li>
       <li class="list_li cart">
           <a  href="gameList.html" class="text">享玩游戏</a>
       </li>
       <li class="list_li profile">
           <a  href="myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
    return {
        reqPath : reqPath,
        qdMessage:'',
        qdFlg:false,
        vipCardList : [],
        timer:undefined,//定时函数
    }
    },
    created() {
        this.getVipCardList();
    },
    methods:{
    //获取活动
    getVipCardList(){
        var vueThis = this;
        jAjax("/appVipCard/getVipCardList",{},function(data){
            vueThis.vipCardList = data.resultlist;  
        });
    },
    //立即抢购
    rushToBuyCard(cardid,cardIndex){
        var vueThis = this;
        var reqData = {cardid:cardid};
        jAjax("/appVipCard/rushToBuyCard",reqData,function(data){
            if(data.status==0){
                window.location.href='cardBag/bagPayWait.html';
            }else{
                if(data.status==2){
                    jqalert({
                        prompt:data.message+'  立即前往账户设置？',
                        yestext:'立即前往',
                        notext:'取消',
                        yesfn:function () {
                            window.location.href='user/setUser.html';
                        },
                        nofn:function () {}
                    });
                }else{
                    jqalert({
                        prompt:data.message,
                        yesfn:function () {}
                    });
                }
            }
        });
    },
    //格式化 秒 时间显示
    fmtTimeSecond(second,item){
        this.setInterFun(item)
        if(second<60){
            return '倒计时'+second+'秒';
        }else{
            return '倒计时'+parseInt(second/60)+'分'+(second%60)+'秒';
        }
    },
    //定时函数
    setInterFun(item){
        var vueThis = this;
        if(!vueThis.timer){
            vueThis.timer = setInterval(()=>{
                item.secondbuy -= 1;
                if(item.secondbuy<=0){
                    item.isbuy = 1;
                    clearInterval(vueThis.timer);
                }
            },1000);
        }
    },ckActiv(tp){
        if(tp==1){
            this.qiand();
        }else if(tp==2){
            jqalert({
                prompt:'请关注任务卡开启时间及时领取！',
                yestext:'好 的',
                yesfn:function () {
                }
            });
        }else if(tp==3){
            window.location.href='cardBag/bagOwn.html';
        }else{
            window.location.href='invite.html';
        }
    },
    qiand(){
        var vThis = this;
        jAjax("/appUserCenter/signIn",{},function(data){
        if(data.status=='0'){
            vThis.qdFlg = true;
            vThis.qdMessage = data.remark;
        }else{
            jqtoast(data.message);
        }
        });
    }

  }
})
</script>

</html>