<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享互动</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
	 <meta name="apple-mobile-web-app-capable" content="yes">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/islider.css" />
	<link rel="stylesheet" type="text/css" href="css/myCenter.css"/>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
<style>
	.sqDetailMsgCont{
		width: 94%;
		margin-left: 3%;
		height: auto;
		line-height: 20px;
		color: #fff;
		font-size: 0.8rem;
		position: fixed;
		letter-spacing: 1px;
	}
	#headImg{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		margin-top: 10px;
	}
	#nickname{
		position: absolute;
		margin-left: 8px;
		margin-top: 15px;
		font-weight: bold;
	}
	.hetailBugIMG{
		width: 20px;
		height: 20px;
		float: right;
		margin-right: 20px;
		margin-top: 15px;
	}
	.sqCommetuseEl{
		width: 94%;
		margin-left: 3%;
		min-height: 70px;
		border-top: 1px solid #ececec;
		padding-bottom: 10px;
	}
	.sqCommetuseEl img{
		width: 30px;
		height: 30px;
		border-radius: 15px;
		margin-top: 15px;
		float: left;
	}
	.sqCommetuseEl span{
		font-size: 0.9rem;
		color: #555;
		margin-left: 10px;
		margin-top: 20px;
		float: left;
		display: block;
	}
</style>
</head>
<body><section id="app">
<img src="img/to-leftffff.png"  onclick="history.back(-1)" style="position:absolute;z-index:999;width:45px;"/>
<div id="iSlider-effect-wrapper">
    <div id="animation-effect" class="iSlider-effect"></div>
</div>

<div class="sqDetailMsgCont" style="bottom: 55px;" id="commCont">
	
</div>
<div class="sqDetailMsgCont" style="bottom:5px;border-top:1px solid #5a5959;">
	<img id="headImg" src="img/defaulttx.png">
	<span id="nickname">享GO</span>
	
	<span class="hetailBugIMG" style="margin: 17px 5px 0 -18px;" id="zhanNum">10</span>
	<img class="hetailBugIMG"  src="img/notzanyff.png" id="zhan" isenable="0">

	<span class="hetailBugIMG" style="margin: 17px 5px 0 -18px;color:rgb(246,69,149);"  v-cloak>{{plContList.length}}</span>
	<img class="hetailBugIMG" src="img/msg.png" @click="showCommWind"/>
</div>

<!--评论-->
<div class="monmc" v-cloak  @click="sqCommWinFlg = false" v-if="sqCommWinFlg"></div>
<div class="payConfirmCont"  v-cloak v-if="sqCommWinFlg" style="height:500px;">
    <span style="position:absolute;right:15px;margin-top:10px;font-size:0.8rem;color:#999;" @click="sqCommWinFlg = false">取消</span>
    <div class="inputCont">
        <div style="font-size:0.9rem;font-weight:600;color:#555;margin:10px 0 10px 3%;margin-bottom:10px;">热门评论</div>
		<!--评论内容-->
		<div style="overflow-y:auto;height:400px;">

			<div class="sqCommetuseEl" v-for="(cm,i) in plContList">
				<img :src="cm.headimage?reqPath+cm.headimage:'img/defaulttx.png'"/>
				<span>{{cm.nickname.length==11?cm.nickname.substr(0,3)+'****'+cm.nickname.substr(7,4):cm.nickname}}</span>
				<span style="float:right;margin-right:10px;">{{cm.createtime}}</span>
				<div class="clear"></div>
				<div style="color: #333;font-size:0.8rem;padding-left:30px;word-wrap: break-word;">
					{{cm.comment}}
					<p @click="huifu(cm)"  v-if="isowner && !cm.replycontent" style="text-align:right;margin-right:10px;margin-top:-5px;">
						回 复 
					</p>
				</div>
				<div style="color: #333;font-size:0.8rem;padding-left:30px;word-wrap: break-word;" v-if="cm.replycontent">
					<font style="color:rgb(246,69,149);">作者回复：</font>
					{{cm.replycontent}}
				</div>
			</div>
			<div style="text-align:center;padding-top: 100px;" v-if="!plContList || plContList.length<1">
				{{isowner?'还没有人评论您的贴子哦，邀请好友评论吧':'还没有人评论哦，快来抢沙发吧！'}}
			</div>
			

		</div>
		<!--end评论内容-->
		<textarea v-if="isShowhfBut" v-model="commContTextVal" id="sqAddCommentText" class="sqAddCommentText" maxlength="100" 
		style="height:50px;position:absolute;bottom:0;margin-left:0;width:100%;padding-right:100px;box-sizing: border-box;" :placeholder="texPlaceHolder"></textarea>
		<div  v-if="isShowhfBut" @click="subSqCont" class="btn" style="position:absolute;bottom:10px;right:10px;"  v-cloak>
			{{commButText}}
		</div>

    </div>
</div>
<!--end评论-->
</section>

</body>
</html>

<script src="js//jquery-3.1.1.min.js"></script>
<script src="js/islider.js"></script>
<script src="js/plugins/islider_desktop.js"></script>
<script src="js/vue.js"></script>

<script>
var communityid = getQueryVariable("communityid");
var item = {communityid:communityid};
var isowner = false;
jAjax("/appIndex/getCommunityDetail",{communityid:communityid},function(data){
	isowner = data.isowner=='1'?true:false;
	item = data;
	var picList = [];
	for(var i=0;i<item.imglist.length;i++){
		picList.push({content:reqPath+item.imglist[i].imgurl});
	}
	//tx
	$("#headImg").attr("src",item.headimage?reqPath+item.headimage:'img/defaulttx.png');//
	if(!item.nickname) item.nickname="";
	$("#nickname").html(item.nickname.length==11?item.nickname.substr(0,3)+"****"+item.nickname.substr(7,4):item.nickname);//
	$("#commCont").html(item.content);//
	$("#zhanNum").html(item.likesnum);//
	if(item.likestatus=='1'){
		$("#zhan").attr("src","img/notzanyrr.png").attr("isenable","1");;
		$("#zhanNum").css({"color":"#f64595"});
	}
	//all animation effect
	var islider1 = new iSlider({
		data: picList,
		dom: document.getElementById("animation-effect"),
		duration: 2000,
		animateType: 'rotate',
		isAutoplay: false,
		isLooping: true,
	});
	islider1.bindMouse();
});



//zhan
$(function(){
	$("#zhan").click(function(){
		var status = 0;
		if($(this).attr("isenable")=='0'){
			$(this).attr("src","img/notzanyrr.png");
			$(this).attr("isenable","1");
			$(this).prev().html(parseInt($(this).prev().html())+1).css({"color":"#f64595"});
			status = 1;
		}else{
			$(this).attr("src","img/notzanyff.png");
			$(this).attr("isenable","0");
			$(this).prev().html(parseInt($(this).prev().html())-1).css({"color":"#fff"});
		}
		jAjax("/appIndex/likeCommunity",{communityid:item.communityid,status:status},function(data){
   		 },null,true);
	});
})



new Vue({
      el: '#app',
      data: function() {
        return {
            reqPath : reqPath,
			sqCommWinFlg:false,//是否打开评论窗口
			plContList:[],//评论列表
			isowner:false, //是否是自己的贴
			isShowhfBut : true,//是否展示回复/评论输入框
			texPlaceHolder:'参与评论',
			commButText:'立 即 评 论',
			commContTextVal:'',
			commentid:'',//回复评论ID
        }
	  },
	  mounted() {
     },
      created() {
		this.queryCommtList();
      },
      methods:{
		  //弹窗评论窗口
		showCommWind(){
			this.isowner = isowner;
			if(this.isowner){
				this.commButText = '立 即 回 复'
				this.texPlaceHolder = '回复：';
				this.isShowhfBut = false;
			}
			if(this.plContList.length==0){
				this.queryCommtList();
			}
			this.sqCommWinFlg = true;
		},
		//查询评论
		queryCommtList(){
			var vueThis = this;
			jAjax("/appIndex/getCommunityComment",{communityid:item.communityid},function(data){
				vueThis.plContList =  data.resultlist
			});
		},
		//选中回复
		huifu(item){
			this.commContTextVal = '';
			this.commentid = item.commentid;
			var txt = item.comment.length>5?item.comment.substr(0,4)+'...':'';
			this.texPlaceHolder = "回复："+item.nickname+" #/"+txt;
			this.isShowhfBut = true;
		},
		//提交评论或回复
		subSqCont(){
			if(this.isowner){
				//回复
				if(!this.commContTextVal){
					jqtoast("请填写回复内容！");
            		return;
				}
				var vueThis = this;
				jAjax("/appIndex/addCommunityReply",{replycontent:this.commContTextVal,commentid:this.commentid},function(data){
					console.log(data);
					if(data.status=='0'){
						jqtoast("回复成功！");
						vueThis.commContTextVal = '';
						vueThis.isShowhfBut = false;
						vueThis.queryCommtList();
					}
				});

			}else{
				//评论
				if(!this.commContTextVal){
					jqtoast("请填写评论内容！");
            		return;
				}
				var vueThis = this;
				jAjax("/appIndex/addCommunityComment",{comment:this.commContTextVal,communityid:item.communityid},function(data){
					console.log(data);
					if(data.status=='0'){
						jqtoast("评论成功！");
						vueThis.commContTextVal = '';
						vueThis.queryCommtList();
					}
				});


			}

		}

      }
    })
</script>