<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享GO影视</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="css/index.css"/>
     <link rel="stylesheet" type="text/css" href="css/public.css"/>
     <script src="js/jquery-3.4.1.js"></script>
     <script src="js/vue.js"></script>
     <script src="js/jq-alert.js"></script>

     <!--轮播CSS -->
     <link rel="stylesheet" type="text/css" href="css/slideshow.css">
     <script src="js/base.js"></script>
    <script src="js/slideshow.js"></script>
 </head>
 <body>
    <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="img/timg.gif"/></div>
    
    <div id="app">
     <header>
         <section class="logo">
            <img  src="img/logo.png"/>
         </section>
        <section class="searchCont">
            <input placeholder="您想要看什么"/>
            <img src="img/search.png">
        </section>
        <ul id="class_list">
            <li class="list_li home queryVideo active" onclick="queryVideo(this,0)">
                <span>所有影片</span>
            </li>
            <li class="list_li queryVideo profile" onclick="queryVideo(this,4)">
                <span>电视剧</span>
            </li>
            <li class="list_li queryVideo follow"  onclick="queryVideo(this,2)">
                <span>珍藏电影</span>
            </li>
            <li class="list_li queryVideo cart" onclick="queryVideo(this,3)">
                <span>动漫</span>
            </li>
            <li class="list_li queryVideo cart" onclick="queryVideo(this,1)">
                <span>会员专享</span>
            </li>
            <li class="clear"></li>
        </ul>
     </header>
<!--轮播-->
<div class="layout" style="margin-top:80px;">
    <div class="banner">
        <ul class="swipe" id="swipe">
            <!--图片低于5张出问题直接轮播两组-->
            <li><a href="#"><img src="https://puui.qpic.cn/tv/0/928089421_1080607/0"></a></li>
            <li v-for="(item,i) in bannerList" v-cloak>
                <a :href="`cardBag/bagComment.html?mv=${item.httpurl}`" ><img :src="reqPath+item.imgurl"></a>
                <div v-cloak>{{item.description}}</div v-cloak>
            </li>
            <li v-for="(item,i) in bannerList">
                <a :href="`cardBag/bagComment.html?mv=${item.httpurl}`"><img :src="reqPath+item.imgurl"></a>
                <div  v-cloak>{{item.description}}</div>
            </li>
        </ul>
        <ul class="swipe-btn-list" id="swipe-btn-list">
            <li v-for="(item,i) in bannerList"></li>
            <li></li><li></li>
        </ul>
    </div>
</div>
<!--end 轮播-->

<section class="main">

    <div class="prdClassCont" v-for="(item , i) in homePageMovie" v-cloak >
        <!-- <div style="height:245px;" v-if="i==2"></div> -->
        <div class="prd-title">
            <span>{{item.typename}}</span>
            <span class="clear"></span>
            <font v-if="i==0" style="font-size:0.85rem;">邀请好友领取更多观影收益&nbsp;&nbsp;</font>
            <img v-if="i==0" src="img/fire.png"/>
        </div>
        <div class="ImgCont" v-for="(movie , j) in item.movielist">
            <img :src="reqPath+movie.coverimg" :onclick="`window.location.href='cardBag/bagComment.html?mv=${movie.httpurl}'`" />
            <div class="prdName">{{movie.title}}</div>
            <div class="prdRemark">{{movie.description}}</div>
        </div>

        <div class="clear"></div>
        <div class="refresh-cont" v-if="item.movielist.length>1">
            <img src="img/ref.png"/>&nbsp;
            <span>换一批</span>
        </div>
        <!--广告-->
        <div v-if="i==0">
            <video id="videoId" muted  poster="img/vioDefault.png" style="width:100%;height:100%;" src="img/activMp41.mp4" controls="controls"  preload >
                该浏览器不支持该格式视频
            </video>
           <img style="width: 100%;" src="img/activMp41Title.jpg"/>
        </div>
        <!-- 广告图片-->
        <div v-if="i>0">
            <img v-if="advertisement[i]" :src="reqPath+advertisement[i].imgurl"  class="activity-img" />
        </div>
        <!--end广告图片 -->
    </div>

    <br/><br/><br/><br/><br/>
</section>
      <!--footer-->
      <footer id="footer">
        <ul id="footer_list">
           <li class="list_li home active">
               <a href="index.html" class="text">首页</a>
           </li>
           <li class="list_li follow" >
               <a  href="activity.html" class="text">活动中心</a>
           </li>
           <li class="list_li cart">
               <a  href="cardBag/bagOwn.html" class="text">卡包</a>
           </li>
           <li class="list_li profile">
               <a  href="myCenter.html" class="text">我的</a>
           </li>
       </ul>
      </footer>
        <!-- end footer-->
</div>

</body>



<script>
window.addEventListener('scroll', this.scrollHandle, true);
document.getElementsByTagName('body')[0].scrollTop = 0;    
window.onscroll=function(){
    scrollHandle();
}
function scrollHandle () {
    if(checkWeChatBrowser()) return;
    var videoEle = document.getElementById("videoId");
    const offset = videoEle.getBoundingClientRect(); // vue中，使用this.$el获取当前组件的根元素
    const offsetTop = offset.top;
    const offsetBottom = offset.bottom;
    const offsetHeight = offset.height;
    // 进入可视区域
    if (offsetTop <= window.innerHeight && offsetBottom >= 0) {
        videoEle.play();
    } else {
        videoEle.pause();
    }
}


$(function(){
  //type : 0：全部 1 会员专享 2、珍藏电影、3、动漫、4、电视剧
  vm = new Vue({
    el:'#app',
    data:{
        reqPath : reqPath,
        bannerList : [],//轮播图
        advertisement:[],//广告图
        homePageMovie:[],//首页电影列表
    }
  });

  //获取轮播图片
  jAjax("/appIndex/getBanner",{type:1},function(data){ vm.bannerList = data; });
  //获取广告图片
  jAjax("/appIndex/getAdvertisement",{},function(data){ 
      vm.advertisement = data;  
      vm.advertisement.unshift(vm.advertisement[0]);
  });
  //获取首页图片
  queryVideo(null,0);
});

//查询影片
function queryVideo(obj,type){
    if(obj){
        $(".queryVideo").removeClass("active");
        $(obj).addClass("active");
    }
    //获取首页电影
    jAjax("/appIndex/getHomePageMovie",{type:type},function(data){
      vm.homePageMovie = data;  
    });
}


</script>
</html>