<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享GO影视</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="css/index.css"/>
     <link rel="stylesheet" type="text/css" href="css/public.css"/>
     <script src="js/jquery-3.4.1.js"></script>
     <script src="js/vue.js"></script>
     <script src="js/jq-alert.js"></script>

     <!--轮播CSS -->
     <link rel="stylesheet" type="text/css" href="css/slideshow.css">
     <script src="js/base.js"></script>
    <script src="js/slideshow.js"></script>
 </head>
 <body>
    <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="img/timg.gif"/></div>
    
    <div id="app">
     <header>
         <section class="logo">
            <img  src="img/logo.png"/>
         </section>
        <section class="searchCont">
            <input placeholder="您想要看什么" @click="showSearchWin" class="searchBut"/>
            <img src="img/search.png" @click="showSearchWin"  class="searchBut"/>
        </section>
        <ul id="class_list">
            <li class="list_li home queryVideo active" @click="queryByType(0)">
                <span>所有影片</span>
            </li>
            <li class="list_li queryVideo profile" @click="queryByType(4)">
                <span>电视剧</span>
            </li>
            <li class="list_li queryVideo follow"  @click="queryByType(2)">
                <span>珍藏电影</span>
            </li>
            <li class="list_li queryVideo cart" @click="queryByType(3)">
                <span>动漫</span>
            </li>
            <li class="list_li queryVideo cart" @click="queryByType(1)">
                <span>会员专享</span>
            </li>
            <li class="clear"></li>
        </ul>
     </header>
<!--轮播-->
<div class="layout" style="margin-top:80px;">
    <div class="banner">
        <ul class="swipe" id="swipe">
            <!--图片低于5张出问题直接轮播两组-->
            <li><a href="#"><img src="https://puui.qpic.cn/tv/0/928089421_1080607/0"></a></li>
            <li v-for="(item,i) in bannerList" v-cloak>
                <a :href="`cardBag/bagComment.html?mv=${item.httpurl}`" ><img :src="reqPath+item.imgurl"></a>
                <div v-cloak>{{item.description}}</div v-cloak>
            </li>
            <li v-for="(item,i) in bannerList">
                <a :href="`cardBag/bagComment.html?mv=${item.httpurl}`"><img :src="reqPath+item.imgurl"></a>
                <div  v-cloak>{{item.description}}</div>
            </li>
        </ul>
        <ul class="swipe-btn-list" id="swipe-btn-list">
            <li v-for="(item,i) in bannerList"></li>
            <li></li><li></li>
        </ul>
    </div>
</div>
<!--end 轮播-->

<section class="main">

    <div class="prdClassCont" v-for="(item , i) in homePageMovie" v-cloak >
        <div class="prd-title">
            <span>{{item.typename}}</span>
            <span class="clear"></span>
            <font v-if="i==0" style="font-size:0.85rem;" onclick="window.location.href='invite.html'">邀请好友领取更多观影收益&nbsp;&nbsp;</font>
            <img v-if="i==0" src="img/fire.png"/>
        </div>
        <div v-for="(movie , j) in item.movielist">
            <div class="ImgCont">
                <div class="vioImgEL" :style="`background-image:url('${reqPath+movie.coverimg}');`" :onclick="`window.location.href='cardBag/bagComment.html?mv=${movie.httpurl}'`"></div>
                <!-- <img :src="reqPath+movie.coverimg" :onclick="`window.location.href='cardBag/bagComment.html?mv=${movie.httpurl}'`" /> -->
                <div class="prdName">{{movie.title}}</div>
                <div class="prdRemark">{{movie.description}}</div>
            </div>
        </div>


        <div class="clear"></div>
        <div class="refresh-cont">
            <img @click="ref(item)" src="img/ref.png" style="margin-top:3px"/>&nbsp;
            <span @click="ref(item)" class="hyh">换一批</span>
        </div>
        <!--广告-->
        <div v-if="i==0">
            <video id="videoId" muted  poster="img/vioDefault.png" style="width:100%;height:100%;" src="img/activMp41.mp4" controls="controls"  preload >
                该浏览器不支持该格式视频
            </video>
           <img style="width: 100%;" src="img/activMp41Title.jpg"/>
        </div>
        <!-- 广告图片-->
        <div v-if="i>0">
            <img v-if="advertisement[i]" :src="reqPath+advertisement[i].imgurl"  class="activity-img" />
        </div>
        <!--end广告图片 -->
    </div>
    <br/><br/><br/><br/><br/>

    <!--搜索-->
    <div class="searchWin" v-if="searchFlg" v-cloak>
        <div class="stitle">
            <img src="img/search.png">
            <input placeholder="您想要看什么" id="searchInput" v-model="searchValue" v-on:input="searchMv" maxlength="10"/>
            <span @click="searchFlg=false">取消搜索</span>
        </div>
        <br/><br/><br/>
        <div class="mvo" v-for="(so,i) in searchList" v-cloak>
            <div class="vLeft" v-if="i==0" style="background-color: #ec3315;">{{i+1}}</div>
            <div class="vLeft" v-else-if="i==1" style="background-color: #ff5e00;">{{i+1}}</div>
            <div class="vLeft" v-else-if="i==2" style="background-color: #ff8d00;">{{i+1}}</div>
            <div class="vLeft" v-else>{{i+1}}</div>
            <div class="vrigth" :onclick="`window.location.href='cardBag/bagComment.html?mv=${so.httpurl}'`" >{{so.title}}</div>
        </div>
        <div v-if="searchList.length==0" style="text-align:center;margin-top: 40px;color: #777;">
            很抱歉，没有找到相关资源
        </div>
    </div>
</div>

</section>
      <!--footer-->
      <footer id="footer">
        <ul id="footer_list">
           <li class="list_li home active">
               <a href="index.html" class="text">首页</a>
           </li>
           <li class="list_li follow" >
               <a  href="activity.html" class="text">活动中心</a>
           </li>
           <li class="list_li cart">
               <a  href="cardBag/bagOwn.html" class="text">卡包</a>
           </li>
           <li class="list_li profile">
               <a  href="myCenter.html" class="text">我的</a>
           </li>
       </ul>
      </footer>
        <!-- end footer-->

</div>

</body>



<script>
// window.addEventListener('scroll', this.scrollHandle, true);
// document.getElementsByTagName('body')[0].scrollTop = 0;    
// window.onscroll=function(){
//     // scrollHandle();
// }
// function scrollHandle () {
//     if(checkWeChatBrowser()) return;
//     var videoEle = document.getElementById("videoId");
//     const offset = videoEle.getBoundingClientRect(); // vue中，使用this.$el获取当前组件的根元素
//     const offsetTop = offset.top;
//     const offsetBottom = offset.bottom;
//     const offsetHeight = offset.height;
//     // 进入可视区域
//     if (offsetTop <= window.innerHeight && offsetBottom >= 0) {
//         // videoEle.play();
//     } else {
//         // videoEle.pause();
//     }
// }
$(function(){
    $(".queryVideo").click(function(){
        $(".queryVideo").removeClass("active");
        $(this).addClass("active");
    });
    $(".hyh").click(function(){
        var obj = $(this);
        $(obj).prev().addClass("refreshactive");
        setTimeout(() => {
            $(obj).prev().removeClass("refreshactive");
        }, 500);
    });
    $(".searchBut").click(function(){
        $("#searchInput").focus();
    })
})
new Vue({
    el: '#app',
    data: function() {
        return {
            reqPath : reqPath,
            searchFlg:false,
            bannerList : [],//轮播图
            advertisement:[],//广告图
            searchList:[],
            homePageMovie:[],//默认展示首页电影列表
            defaultPageMovie:[],//默认首页电影列表备份
            randomNumLogs : "",
            searchValue : "",
            pageSize:6,
        }
    },
    created() {
        var invitecode = this.GetQueryString("invitecode");
        if(invitecode){
            localStorage.setItem("invitecode",invitecode);
        }
        this.getBanner();
        this.queryVideo(0);
        this.getAdvertisement();
    },
    methods:{
        getBanner(){
            var vm = this;
            jAjax("/appIndex/getBanner",{type:1},function(data){ vm.bannerList = data; });
        },
        getAdvertisement(){
            var vm = this;
            jAjax("/appIndex/getAdvertisement",{},function(data){ 
                vm.advertisement = data;  
                vm.advertisement.unshift(vm.advertisement[0]);
            });
        },
        //获取影片
        queryVideo(type){
            var vm = this;
            jAjax("/appIndex/getHomePageMovie",{type:type},function(data){
                vm.homePageMovie = data;
                vm.defaultPageMovie = JSON.parse(JSON.stringify(data));
            });
        },
        //跟换电影类型
        queryByType(type){
            var vm = this;
            if(type==0){
                console.log("重回首页。。。。。。。。。。。。")
                this.homePageMovie = this.defaultPageMovie;
                this.pageSize = 6;
                return;
            }else{
                this.pageSize = 12;
                var reqBo = {
                    type : type,
                    startnum : 0,
                    rownum: this.pageSize
                }
                jAjax("/appIndex/getHomePageMovie",reqBo,function(data){
                    vm.homePageMovie = data;
                    vm.$forceUpdate();
                });
            }
            
        },
        //换一批
        ref(item,pageSize){
            if(!pageSize) pageSize = this.pageSize;
            console.log(pageSize+"============");
            if(item.movienum<=pageSize) return;
            pageNo = !item.pageNo?1:item.pageNo;
            item.pageNo = pageNo+1;
            var total = Math.ceil(item.movienum/pageSize);
            if(item.pageNo>total){
                item.pageNo = 1;
            }
            var reqBo = {
                type : item.type,
                startnum : (item.pageNo-1)*pageSize,
                rownum: pageSize
            }
            var vm = this;
            jAjax("/appIndex/getHomePageMovie",reqBo,function(data){
                var typeData = data[0];
                for(var i=0;i<vm.homePageMovie.length;i++){
                    if(vm.homePageMovie[i].type==item.type){
                        vm.homePageMovie[i] = typeData;
                        vm.homePageMovie[i].pageNo = item.pageNo;
                    }
                }
            });
            this.$forceUpdate();
        },
        //默认搜索数据
        defaultSearch(){
            this.searchList = [];
            for(var i=0;i<this.homePageMovie.length;i++){
                this.searchList = this.searchList.concat(this.homePageMovie[i].movielist);
            }
        },
        //搜索电影查询
        searchMv(){
            if(!this.searchValue){
                this.defaultSearch();
            }else{
                var v = this;
                jAjax("/appIndex/getHomePageVideoDesc",{videodesc:this.searchValue},function(data){
                   v.searchList = data;
                });
                
            }
        },
        //弹出搜索框
        showSearchWin(){
            this.defaultSearch();
            this.searchValue = "";
            this.searchFlg = true;
        },
        //换一批
        refMv(type){
           this.randomNumLogs = "";
           for(var j=0;j<this.homePageMovie.length;j++){
               var tyel = this.homePageMovie[j];
               if(tyel.type==type && tyel.movielist.length>6){
                    // var size = tyel.movielist.length
                    // console.log("电影总长度:"+size);
                    // for(var i = 0; i < size; i++) {
                    //     var randomPos = this.randomNum(0,size-1);
                    //     this.homePageMovie[j].movielist[i] = oldTmp[randomPos];
                    // }
                    // this.randomilize(this.homePageMovie[j].movielist)

                    var arr = JSON.parse(JSON.stringify(tyel.movielist));
                    var length=tyel.movielist.length;
                    var arr1=new Array(); 
                    for(var i=0;i<length;i++){
                        arr1[i]=i;
                    }   //建立数组下标数组
                    var arr2=new Array();
                    for(var i=0;i<length;i++){
                        arr2[i]=arr1.splice(Math.floor(Math.random()*arr1.length),1);
                    }  
                    //将数组下标随机打乱
                    var arr3=new Array();
                    for(var i=0;i<length;i++){
                        arr3[i]=arr[arr2[i]];
                    }  //将数组按打乱后的下标输出
                    this.homePageMovie[j].movielist = arr3;
                    this.$forceUpdate();
               }
           }
        },
        //获取URL参数
        GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }


    }
})

</script>
</html>