@charset "utf-8";
/* CSS Document */

.page_main { width:1240px; margin:20px auto;}
.left_menu { width:194px; float:left; background:#e5e5e5; min-height:560px;}
.left_menu .user_xx { background:#a39d97; height:188px; padding:32px 30px 0px 30px;}
.left_menu .user_xx .img { width:128px; height:128px; margin:0px auto; border-radius:50%; overflow:hidden;}
.left_menu .user_xx .name { height:24px; line-height:24px; color:#fff; margin-top:12px;}
.left_menu .user_xx .name span { display:block; float:left; width:80px; text-align:right; font-size:18px; overflow:hidden;}
.left_menu .user_xx .name a { display:block; float:left; width:24px; height:24px; background:url(../images/pc_page/ico_edit.png) no-repeat center; text-indent:-999px; overflow:hidden; margin-left:15px;}
.left_menu .menu_name { line-height:54px; border-bottom:1px solid #bababa; padding:0px 25px; color:#000; font-size:16px;}
.left_menu ul { padding:8px 0px;}
.left_menu li { height:45px;}
.left_menu li.active { background:#dad6d1;}
.left_menu li a { display:block; padding-left:55px; line-height:45px;}
.left_menu .sup_li a.bg_01 { background:url(../images/pc_page/menu_purchase.png) no-repeat 25px 14px;} 
.left_menu .sup_li a.bg_02 { background:url(../images/pc_page/menu_purchase.png) no-repeat 25px -32px;} 
.left_menu .sup_li a.bg_03 { background:url(../images/pc_page/menu_purchase.png) no-repeat 25px -76px;} 
.left_menu .sup_li a.bg_04 { background:url(../images/pc_page/menu_purchase.png) no-repeat 25px -122px;} 
.left_menu .stock_li a.bg_01 { background:url(../images/pc_page/menu_stock.png) no-repeat 25px 13px;} 
.left_menu .stock_li a.bg_02 { background:url(../images/pc_page/menu_stock.png) no-repeat 25px -31px;} 
.left_menu .stock_li a.bg_03 { background:url(../images/pc_page/menu_stock.png) no-repeat 25px -76px;} 
.left_menu .stock_li a.bg_04 { background:url(../images/pc_page/menu_stock.png) no-repeat 25px -121px;} 
.left_menu .kpi_li a.bg_01 { background:url(../images/pc_page/menu_kpi.png) no-repeat 25px 13px;} 
.left_menu .kpi_li a.bg_02 { background:url(../images/pc_page/menu_kpi.png) no-repeat 25px -31px;} 
.left_menu .kpi_li a.bg_03 { background:url(../images/pc_page/menu_kpi.png) no-repeat 25px -76px;}
.left_menu .worksheet_li a.bg_01 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px 13px;} 
.left_menu .worksheet_li a.bg_02 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -33px;} 
.left_menu .worksheet_li a.bg_03 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -78px;} 
.left_menu .worksheet_li a.bg_04 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -123px;} 
.left_menu .worksheet_li a.bg_05 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -168px;} 
.left_menu .worksheet_li a.bg_06 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -213px;} 
.left_menu .worksheet_li a.bg_07 { background:url(../images/pc_page/menu_worksheet.png) no-repeat 25px -258px;}
.left_menu .restaurant_li a.bg_01 { background:url(../images/pc_page/menu_restaurant.png) no-repeat 25px 15px;} 
.left_menu .restaurant_li a.bg_02 { background:url(../images/pc_page/menu_restaurant.png) no-repeat 25px -31px;} 
.left_menu .restaurant_li a.bg_03 { background:url(../images/pc_page/menu_restaurant.png) no-repeat 25px -76px;} 
.left_menu .restaurant_li a.bg_04 { background:url(../images/pc_page/menu_restaurant.png) no-repeat 25px -121px;} 
.left_menu .restaurant_li a.bg_05 { background:url(../images/pc_page/menu_restaurant.png) no-repeat 25px -165px;} 
.left_menu .oa_li a.bg_01 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px 15px;} 
.left_menu .oa_li a.bg_02 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -31px;} 
.left_menu .oa_li a.bg_03 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -75px;} 
.left_menu .oa_li a.bg_04 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -121px;} 
.left_menu .oa_li a.bg_05 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -165px;} 
.left_menu .oa_li a.bg_06 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -211px;} 
.left_menu .oa_li a.bg_07 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -300px;} 
.left_menu .oa_li a.bg_08 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -255px;} 
.left_menu .oa_li a.bg_09 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -345px;} 
.left_menu .oa_li a.bg_10 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -390px;} 
.left_menu .oa_li a.bg_11 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -435px;}
.left_menu .oa_li a.bg_12 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -480px;} 
.left_menu .oa_li a.bg_13 { background:url(../images/pc_page/menu_oa.png) no-repeat 25px -525px;} 
.left_menu .memo_li a.bg_01 { background:url(../images/pc_page/menu_memo.png) no-repeat 25px 15px;} 
.left_menu .share_li a.bg_01 { background:url(../images/pc_page/menu_share.png) no-repeat 25px 15px;}
.left_menu .member_li a.bg_01 { background:url(../images/pc_page/menu_member.png) no-repeat 25px 15px;} 
.left_menu .member_li a.bg_02 { background:url(../images/pc_page/menu_member.png) no-repeat 25px -30px;} 
.left_menu .member_li a.bg_03 { background:url(../images/pc_page/menu_member.png) no-repeat 25px -75px;}  

.right_page { width:1030px; float:right;}
.page_name { background:#f8f8f8; border-bottom:1px solid #e2e2e2; height:62px; padding:0px 30px;}
.page_name span { display:block; float:left; font-size:16px; color:#2f2f2f; line-height:62px;}
.page_name a { display:block; float:right; width:58px; height:30px; border:1px solid #ff9b30; background:#ff9b30; color:#fff; margin:15px 0px 15px 20px; text-align:center; line-height:30px;}
.page_name a.back { background:#fff; color:#ff9b30;}
.page_name a.wid_01 { width:88px;}
.page_name a.ico_calendar { width:24px; height:24px; background:none; border:0px; margin:19px 0px;}
.page_name a.ico_shop { background:url(../images/pc_page/ico_shop.png) no-repeat left; background-size:22px 22px; border:0px; height:32px; line-height:32px; width:auto; padding-left:30px; color:#666; font-size:16px;}

.page_tab { padding:0px 30px 10px 30px; background:#fff;}
.page_tab2 { padding:20px 30px; background:#fff; position:relative;}
.page_tab2 .check_state { width:132px; height:88px; position:absolute; right:25px; top:20px;}
.sel_box { padding:15px 0px;}
.sel_box .text { float:left; width:190px; height:30px; padding-left:12px; border:1px solid #eee; margin-right:20px;}
.sel_box .text_time { float:left; width:120px; height:30px; padding-left:12px; border:1px solid #eee; background:url(../images/pc_page/ico_time.png) no-repeat 108px 50%;}
.sel_box .sel { float:left; width:160px; height:32px; padding-left:10px; border:1px solid #eee; margin-right:20px;}
.sel_box span { display:block; width:20px; line-height:32px; text-align:center; float:left;}
.sel_box .m_r20 { margin-right:20px;}
.sel_box .find_btn { float:right; width:78px; height:32px; background:#a3a3a3 url(../images/pc_page/find_btn.png) no-repeat center; color:#fff; border:0px; cursor:pointer; margin-left:20px;}
.sel_box .find_btn:hover { background:#ff9b30 url(../images/pc_page/find_btn.png) no-repeat center;}

.tab_list td { line-height:20px; padding:10px 10px; border-bottom:1px solid #eee;}
.tab_list .head_td td { background:#f6f6f6 url(../images/page/td_bg.gif) repeat-x 0px bottom; padding-bottom:13px; border-bottom:1px solid #eee; border-top:1px solid #eee; color:#2f2f2f;}
.tab_list td a.link  { color:#058ce2; margin-right:30px;}
.tab_list td a.del  { color:#ff1b1b; margin-right:30px;}
.tab_list td a.start { color:#71c151; margin-right:30px;}
.tab_list td.t_r { text-align:right;}
.tab_list td.l_name { color:#2f2f2f; width:120px;}
.tab_list td.l_name2 { color:#2f2f2f; width:120px; vertical-align:top}
.tab_list td.num_xx { color:#666;}
.tab_list td.mx_tab { padding:0px 0px 0px 10px;}
.tab_list .mx_td td { padding:10px 0px;}
.tab_list .gray_bg td { background:#fcfcfc; color:#666;}
.tab_list td .img { width:30px; height:30px; border-radius:30px; overflow:hidden; box-shadow:0px 0px 1px 0px #ddd; margin:0px auto;}
.tab_list td .img2 { width:30px; height:30px; border-radius:4px; overflow:hidden; box-shadow:0px 0px 1px 0px #ddd; margin:0px auto;}
.tab_list td .img3 { width:48px; height:48px; border-radius:48px; overflow:hidden; box-shadow:0px 0px 1px 0px #ddd; margin:0px auto;}
.tab_list td .img5 { width:48px; height:48px; border-radius:3px; overflow:hidden; box-shadow:0px 0px 1px 0px #ddd; margin:0px auto;}
.tab_list td .img4 { min-width:48px; height:72px; float:left; position:relative; margin-right:15px;}
.tab_list td .img4 a.a_del { display:block; width:15px; height:15px; position:absolute; right:-6px; top:-6px;}
.tab_list td.img_td { padding:5px 10px;}
.tab_list td.img_td2 { padding:5px 0px;}
.tab_list td a.check { display:block; width:15px; height:15px; margin:2px 0px 3px 0px; background:url(../images/pc_page/check.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.tab_list td a.checked { display:block; width:15px; height:15px;margin:2px 0px 3px 0px; background:url(../images/pc_page/check_ed.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.tab_list .none_border td { border:0px;}
.tab_list .none_tborder td { border-top:0px;}
.tab_list .text { width:242px; height:30px; border:1px solid #eee; padding-left:10px; color:#666;}
.tab_list .s_text { width:90px; height:30px; border:1px solid #eee; padding-left:10px; color:#666; float:left;}
.tab_list .text2 { width:542px; height:30px; border:1px solid #eee; padding-left:10px; color:#666;}
.tab_list .text_area { width:97%; height:90px; border:1px solid #eee; padding:4px 10px; resize:none; color:#666;}
.tab_list .i_time { float:left; line-height:30px; padding:0px 5px; display:block;}
.tab_list .a_btn { width:60px; height:32px; text-align:center; line-height:32px; float:left; display:block; margin-right:20px;}
.tab_list a.radio { display:block; float:left; width:16px; height:16px; margin:2px 0px 2px 0px; background:url(../images/pc_page/radio.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_ed { display:block; float:left; width:16px; height:16px; margin:2px 0px 2px 0px; background:url(../images/pc_page/radio_ed.png) no-repeat; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_yellow { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_yellow.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_ed_yellow { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_ed_yellow.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_red { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_red.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_ed_red { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_ed_red.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_green { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_green.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list a.radio_ed_green { display:block; float:left; width:16px; height:16px; margin:2px 10px 2px 0px; background:url(../images/pc_page/check_ed_green.png) no-repeat; background-size:100% 100%; text-indent:-9999px; overflow:hidden;}
.tab_list .i_radio { float:left; display:block; margin-right:40px; line-height:20px;}
.tab_list .last_td td { padding-bottom:20px;}
.tab_list .first_td td { padding-top:20px; border-top:2px solid #eee; }
.tab_list .foot_td td { border-top:2px solid #eee; border-bottom:0px; padding:20px 10px;}
.tab_list .foot_td a.wid_01 { width:90px;}
.tab_list .i_name { float:left; line-height:30px; margin-left:12px; margin-right:20px;}
.tab_list .add_user { display:block; width:24px; height:23px; border:1px solid #eee; background:url(../images/pc_page/ico_add.png) no-repeat center; float:left; text-indent:-999px; overflow:hidden; margin:3px 0px 10px 0px;}
.tab_list .m_bt10 { margin-bottom:10px;}
.tab_list .wlmx_detail td { padding-top:20px; padding-bottom:20px; border-top:2px solid #eee;}
.tab_list .wlmx_detail td td { padding-top:10px; padding-bottom:10px; border-top:0px; border-bottom:1px solid #eee;}
.tab_list .wlmx_detail .none_border td { border:0px;}
.tab_list .a_star { display:block; float:left; width:20px; height:20px; cursor:pointer;}
.tab_list .star_box { display:block; float:right; height:20px; overflow:hidden;}
.tab_list .star_box img { float:left; width:20px; height:20px; display:block;}
.tab_list .ico_del { display:block; width:16px; height:16px; margin:2px 10px 2px 0px;}
.tab_list .rang_num { padding:0px 10px;}
.tab_list span.rank_bg { display:block; float:left; line-height:40px; color:#ff9b30; background:url(../images/pc_page/num_top.png) no-repeat 10px 5px; padding-right:17px;}
.tab_list .img_list { padding:12px 0px 0px 0px;}
.tab_list .img_list .img_box { float:left; width:54px; height:54px; position:relative; margin-right:10px;}
.tab_list .img_list .img_box b { display:block; width:54px; height:54px; border:1px solid #ff9b30; border-radius:3px; overflow:hidden;}
.tab_list .img_list .img_box img { width:54px; height:54px;}
.tab_list .img_list .del { width:23px; height:23px; position:absolute; right:-8px; top:-8px; z-index:2; background:url(../images/pc_page/ico_del2.png) no-repeat; background-size:23px 23px; text-indent:-999px;}
.tab_list .img_list .img_add { float:left; border:1px solid #d5d5d5; width:54px; height:54px; background:#fcfcfc url(../images/pc_page/add_img.png) no-repeat center; background-size:34px 34px; text-indent:-9999px; overflow:hidden; margin-right:10px; border-radius:3px;}
.tab_list .img_list .talk { float:left; border:1px solid #ff9b30; width:54px; height:54px; background:#fcfcfc url(../images/pc_page/add_talk2.png) no-repeat center; background-size:34px 34px; text-indent:-9999px; margin-right:10px; border-radius:3px; position:relative;}
.tab_list .img_list .talk_add { float:left; border:1px solid #d5d5d5; width:54px; height:54px; background:#fcfcfc url(../images/pc_page/add_talk.png) no-repeat center; background-size:34px 34px; text-indent:-9999px; overflow:hidden; border-radius:3px;}
.tab_list .m_top10 { margin-top:10px;}
.tab_list .appraise_td { padding:0px;}
.tab_list i.i_dp { display:block; float:left; padding-left:10px; padding-right:40px;}
.tab_list i.info_wid { float:left; display:block; width:185px; line-height:30px;}
.tab_list a.info_btn { width:102px; height:30px; background:#a3a3a3; text-align:center; line-height:30px; color:#fff; float:left; display:block; margin-right:40px;}
.tab_list .info_xx { float:left; padding:5px 0px;}
.tab_list .info_xx .i_dp { display:block; float:left; padding-left:10px; padding-right:20px;}

.div_pxqk { background:#fafafa; padding:5px 60px 5px 20px; border-bottom:1px solid #eee; position:relative;}
.div_pxqk .w_del { line-height:24px; color:#ff1b1b; display:block; position:absolute; right:20px; top:5px;}
.div_pxqk span { display:block; line-height:24px;}
.div_pxqk i { display:block; float:left; width:50%; line-height:24px;}
.div_pxqk em { color:#666;}

.div_pxqk2 span { display:block; line-height:20px;}
.div_pxqk2 i { display:block; float:left; width:50%; line-height:20px;}
.div_pxqk2 em { color:#666;}

.tc_title { height:55px; line-height:55px; background:#f5f5f5; padding:0px 20px;}
.tc_title span { display:block; float:left; color:#2f2f2f; font-size:16px;}
.tc_title a { display:block; float:right; font-size:16px; font-weight:bold;}
.tc_btnbox { padding:10px 20px; height:32px; background:#f5f5f5; border-top:1px solid #eee;}
.tc_btnbox a { display:block; width:60px; height:32px; float:right; text-align:center; line-height:32px; margin-left:20px;}
.tc_btnbox a.wid_01 { width:75px;}
.tc_btnbox a.wid_02 { width:102px;}

.tc_tsxx { background:#fff; width:500px; height:332px; position:fixed; left:50%; margin-left:-250px; top:50%; margin-top:-166px; z-index:999;}
.tc_tsxx .txt { height:164px; padding-top:80px;}
.tc_tsxx .txt span { display:block; background:url(../images/pc_page/ico_key.png) no-repeat left; height:64px; line-height:64px; width:262px; text-align:right; font-size:14px; color:#999; margin:0px auto;}

.tc_structure { width:370px; background:#fff; position:fixed; z-index:9999; left:50%; margin-left:-185px; top:50%; margin-top:-240px; }
.tc_structure .str_box { padding:0px 25px;}

.comment { background:#fff; margin-top:16px; padding:0px 30px;}
.comment .name { height:46px; border-bottom:2px solid #eee; line-height:46px; color:#323232; font-size:14px;}
.comment .name i { padding:0px 4px;}
.comment .text_box { margin:12px 0px 0px 0px;}
.comment .text_box b { display:block; border:1px solid #eee; background:#fafafa; padding:2px 10px;}
.comment .text_box b textarea { width:100%; height:60px; resize:none; border:0px; background:none; color:#666; line-height:20px;}
.comment .text_box span { display:block; text-align:right; padding:10px 0px 0px 0px;}
.comment .text_box span input { width:72px; height:30px; border:0px; background:#ff9b30; color:#fff; cursor:pointer;}
.comment .ul_list li { padding:10px 0px; border-bottom:1px solid #eee;}
.comment .ul_list li:last-child { border-bottom:0px;}
.comment .ul_list li .user { width:800px; margin-right:10px; float:left; position:relative; min-height:30px; padding:5px 0px 0px 45px;}
.comment .ul_list li .user b { display:block; width:30px; height:30px; border-radius:50%; overflow:hidden; position:absolute; left:0px; top:0px;}
.comment .ul_list li .user span { color:#323232; line-height:20px; overflow:hidden;}
.comment .ul_list li .user i { color:#999; margin:0px 10px 0px 15px;}
.comment .ul_list li .user em { color:#ff9b30;}
.comment .ul_list li .txt { margin-top:5px; line-height:24px; color:#8d8d8d;}
.comment .ul_list li .time { float:right; line-height:30px; color:#afafaf;}

.tc_wlmxbox { width:435px; background:#fff; position:fixed; z-index:999; left:50%; margin-left:-217px; top:50%;}
.tc_wlmxbox .tab_list { padding:20px 40px;}
.tc_wlmxbox .tab_list td { border-bottom:0px;}
.tc_wlmxbox .tab_list td.l_name { width:auto;}
.tc_wlmxbox .sel_ul { position:absolute; width:252px; border:1px solid #e5e5e5; background:#fff; z-index:101; left:0px; top:34px; border-bottom:0px;}
.tc_wlmxbox .sel_ul li { border-bottom:1px solid #e5e5e5; line-height:30px; padding:0px 10px;}
.tc_wlmxbox .sel_ul li.active { background:#f5f5f5;}
.tc_wlmxbox .sel_ul li:hover { background:#f5f5f5;}
.tc_wlmxbox .sel_ul li a { display:block; cursor:pointer;}

.tc_textarea { width:435px; background:#fff; position:fixed; z-index:999; left:50%; margin-left:-217px; top:50%;}
.tc_textarea .text_box { padding:25px 30px;}
.tc_textarea .text_box textarea { border:1px solid #eee; width:98%; padding:4px 10px; resize:none; height:120px; line-height:20px;}

.shop_sel { border-bottom:1px solid #eee; padding:0px 0px 10px 0px;}
.shop_sel span { display:block; float:left; height:28px; line-height:28px; background:url(../images/pc_page/ico_shop.png) no-repeat left; background-size:20px 20px; padding-left:30px; font-size:16px; color:#323232;}
.shop_sel a { display:block; float:right; border:1px solid #ff9b30; color:#ff9b30; border-radius:14px; line-height:26px; padding:0px 15px;}

.chart_imgbox { padding:20px 0px;}
.charttab_box { background:#fff; border-top:1px solid #e5e5e5; position:relative;}
.charttab_box .jt_top { position:absolute; left:720px; top:-12px; width:23px; height:12px; background:url(../images/pc_page/bg_top.png) no-repeat; background-size:23px 12px; overflow:hidden; z-index:5; text-indent:-999px;}
.charttab_box .xx { line-height:42px; padding:0px 30px;}
.charttab_box .xx span { display:block; float:left; width:38%; color:#757575;}
.charttab_box .xx span.class { width:24%; color:#424242; font-size:16px;}
.charttab_box .xx span.num { text-align:right;}
.charttab_box .xx span i { color:#ff725f; font-size:14px; padding:0px 5px;}
.charttab_box .tab { margin:0px 30px;}
.charttab_box .tab_name { border-top:1px solid #e5e5e5; border-right:1px solid #e5e5e5; height:44px;}
.charttab_box .tab_name span { display:block; width:483px; float:left; border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; text-align:center; line-height:42px; font-size:16px;color:#424242; height:43px; cursor:pointer;}
.charttab_box .tab_name span.active { color:#ff9b30; border-bottom:1px solid #ff9b30;}
.charttab_box td { line-height:40px; text-align:center; border-top:1px solid #e5e5e5;}
.charttab_box .head_td td { text-align:center; background:#f8f8f8; color:#424242; border-top:0px;}
.charttab_box li { padding:0px 15px; line-height:40px; background:url(../images/pc_page/link_left.png) no-repeat 95% 50%; background-size:13px 13px; border-bottom:1px solid #e5e5e5;}
.charttab_box li a { display:block;}
.charttab_box li:last-child { border-bottom:0px;}

.news_detail { padding:20px 0px;}
.news_detail .name { line-height:30px; font-size:14px; color:#2f2f2f; height:30px;}
.news_detail .name span { display:block; float:left;}
.news_detail .name i { display:block; float:right; color:#999; font-size:12px;}
.news_detail .p_box { margin-top:10px; line-height:24px; border-top:2px solid #eee; padding-top:10px;}
.news_detail .p_box p { margin-bottom:6px;}

.mrbb_nav { height:82px; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-top:20px;}
.mrbb_nav li { float:left; line-height:40px; width:241px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; text-align:center;}
.mrbb_nav li.active { width:242px; border-bottom:1px solid #ff9b30;}
.mrbb_nav li a { display:block; color:#2f2f2f; font-size:14px;}
.mrbb_nav li.active a { color:#ff9b30;}

.rsgj_nav { height:41px; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-bottom:10px;}
.rsgj_nav li { float:left; line-height:40px; width:322px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; text-align:center;}
.rsgj_nav li.active { width:322px; border-bottom:1px solid #ff9b30;}
.rsgj_nav li a { display:block; color:#2f2f2f; font-size:14px;}
.rsgj_nav li.active a { color:#ff9b30;}

.qywp_nav { height:41px; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5;}
.qywp_nav li { float:left; line-height:40px; width:483px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; text-align:center;}
.qywp_nav li.active { width:484px; border-bottom:1px solid #ff9b30;}
.qywp_nav li a { display:block; color:#2f2f2f; font-size:14px;}
.qywp_nav li.active a { color:#ff9b30;}

.mrbb_chartbox { padding:20px 0px;}

.time_sel { height:34px; padding:0px 15px 10px 15px;}
.time_sel b { display:block; height:24px; width:180px; margin:0px auto; padding:0px 20px;}
.time_sel i { display:block; width:24px; height:24px; overflow:hidden; text-indent:-9999px; overflow:hidden; float:left; cursor:pointer;}
.time_sel i.pre { background:url(../images/pc_page/link_right.png) no-repeat left; background-size:14px 14px;}
.time_sel i.next { background:url(../images/pc_page/link_left.png) no-repeat right; background-size:14px 14px;}
.time_sel input { width:132px; text-align:center; line-height:24px; font-size:16px; color:#ff9b30; float:left; font-weight:normal;}

.appraise .xx { height:40px; line-height:40px; padding:0px 10px;}
.appraise .xx span { display:block; float:left; width:436px;}
.appraise .xx span.num { padding-left:10px;}
.appraise .xx i { display:block; float:left;}
.appraise .box { padding:4px 10px;background:#fafafa; display:none; }
.appraise .star_list { height:20px;}
.appraise .star { float:left; width:245px;}
.appraise .star span { display:block; float:left; line-height:20px;}
.appraise .star b { display:block; float:left; height:20px;}
.appraise .star b img { float:left;}
.appraise .last { width:auto; float:right;}
.appraise .span { height:30px; line-height:30px;}
.appraise .span span.user { background:url(../images/pc_page/ico_user.png) no-repeat left; padding-left:20px; width:43%; display:block; float:left;}
.appraise .span span.tel { background:url(../images/pc_page/ico_tel.png) no-repeat left; padding-left:20px; width:40%; display:block; float:left;}
.appraise .span span.desk { background:url(../images/pc_page/ico_desk.png) no-repeat left; padding-left:25px; float:right; display:block;}
.appraise .txt { line-height:16px; padding-bottom:5px;}
.appraise:hover .box { display:block;}

.notice_xx .n_name { border-bottom:2px solid #eee; padding-bottom:10px; line-height:20px;}
.notice_xx .n_name span { display:block; float:left; color:#2f2f2f; font-size:14px;}
.notice_xx .n_name i { display:block; float:right;}
.notice_xx .p_box { margin-top:10px;}
.notice_xx .p_box p { margin-bottom:5px; line-height:24px;}

.briefing_li { padding:30px 0px;}
.briefing_li li { float:left; width:120px; margin:0px 10px 20px 10px;}
.briefing_li b { display:block; width:62px; height:62px; margin:0px auto;}
.briefing_li span { display:block; text-align:center; line-height:24px; margin-top:10px;}

.sky_detail .name { color:#2f2f2f; font-size:14px; line-height:32px;}
.sky_detail .name span { display:block; float:left; margin-bottom:15px;}
.sky_detail .name i { display:block; float:right; font-size:12px; color:#929292;}
.sky_detail .span { line-height:24px; margin:5px 0px;}
.sky_detail .span span { margin-right:30px;}
.sky_detail .fiel_box { height:42px;}
.sky_detail .fiel_name { float:left; line-height:32px; line-height:32px; color:#333; background:url(../images/page/flie.png) no-repeat left; padding-left:20px;}
.sky_detail .fiel_num { float:left; line-height:32px; color:#999; padding:0px 20px;}
.sky_detail .fiel_link { float:left; line-height:32px; color:#ff9b30; text-decoration:underline;}
.sky_detail .p_box { padding:20px 0px; border-top:1px solid #e5e5e5;}
.sky_detail .p_box p { margin-bottom:20px; line-height:24px;}

.memo_top { background:#eee; color:#777; padding:20px 25px;}
.memo_top .xx_l { float:left;}
.memo_top .xx_l span { display:block; float:left; font-size:40px; font-weight:lighter; line-height:50px;}
.memo_top .xx_l i { display:block; float:left; line-height:25px; padding-left:20px;}
.memo_top .xx_l em { display:block; line-height:24px; font-size:15px;}
.memo_top .xx_r { float:right; width:49px; padding:10px 0px;}

.memo_list { background:#fff; margin-top:8px;}
.memo_list .name { padding:0px 0px; border-bottom:1px solid #d5d5d5; height:52px;}
.memo_list .name span { display:block; float:left; color:#424242; font-size:16px; line-height:52px;}
.memo_list .name a { display:block; float:right; width:60px; height:32px; margin:10px 0px; color:#fff; background:#ff9b30; text-align:center; line-height:32px;}
.memo_list .li_list { padding:10px 15px 10px 18px; position:relative;}
.memo_list .li_list .ul_head { width:12px; height:18px; background:#fff; position:absolute; left:13px; top:8px;}
.memo_list .li_list .ul_foot { width:12px; height:18px; background:#fff; position:absolute; left:13px; bottom:5px;}
.memo_list .li_list ul { border-left:1px solid #d5d5d5; padding-left:15px;}
.memo_list .li_list li { border-bottom:1px solid #e5e5e5; line-height:38px; position:relative; padding-left:60px;}
.memo_list .li_list li .point { background:#fff; width:11px; height:11px; border:1px solid #d5d5d5; border-radius:11px; position:absolute; left:-22px; top:14px; z-index:10;}
.memo_list .li_list li.active { color:#ff9b30;}
.memo_list .li_list li.active .point { background:#ff9b30; border:1px solid #ff9b30;}
.memo_list .li_list li i { display:block; width:60px; position:absolute; line-height:38px; left:0px; top:0px;}
.memo_list .li_list li span { display:block; background:url(../images/public/link_left.png) no-repeat right; background-size:13px 13px; padding-right:20px; height:40px; overflow:hidden;}
.memo_list .li_list li:last-child { border-bottom:0px;}

.calendar { background:#fff;}
.calendar td { border-bottom:1px solid #eee; color:#424242;}
.calendar td span { display:block; margin:6px auto; width:32px; height:32px; text-align:center; line-height:32px;}
.calendar td span.active { background:url(../images/pc_page/day_bg.png) no-repeat; background-size:100% 100%; color:#fff;}
.calendar .head_td td { background:#f0f0f0; border-bottom:0px; color:#666;}
.calendar td span.gay { color:#afafaf;}

.cal_seltime { width:244px; height:32px; margin:0px auto 12px auto;}
.cal_seltime a { display:block; float:left; width:72px; height:32px;}
.cal_seltime span { display:block; float:left; width:100px; text-align:center; line-height:32px; font-size:14px; color:#424242;}

.share_text { background:#fafafa; border:1px solid #eee; border-radius:3px; padding:10px; overflow:hidden;}
.share_text textarea { width:100%; height:60px; border:0px; background:none; resize:none;}
.share_text .img_list { padding:10px 0px 0px 0px;}
.share_text .img_list .img_box { float:left; width:54px; height:54px; position:relative; margin-right:10px;}
.share_text .img_list .img_box b { display:block; width:54px; height:54px; border:1px solid #ff9b30; border-radius:3px; overflow:hidden;}
.share_text .img_list .img_box img { width:54px; height:54px;}
.share_text .img_list .del { width:23px; height:23px; position:absolute; right:-8px; top:-8px; z-index:2; background:url(../images/pc_page/ico_del2.png) no-repeat; background-size:23px 23px; text-indent:-999px;}
.share_text .img_list .img_add { float:left; border:1px solid #d5d5d5; width:54px; height:54px; background:#fcfcfc url(../images/pc_page/add_img.png) no-repeat center; background-size:34px 34px; text-indent:-9999px; overflow:hidden; margin-right:10px; border-radius:3px;}
.share_btn { padding:10px 0px; text-align:right;}
.share_btn input { width:72px; height:36px; border:0px; background:#ff9b30; color:#fff;}

.share_list { background:#fff;}
.share_list li { border-bottom:1px solid #d5d5d5; padding:8px 15px;}
.share_list li .txt { position:relative; padding-left:70px;}
.share_list li .txt .user_img { position:absolute; width:52px; height:52px; border-radius:52px; overflow:hidden; left:0px; top:4px;}
.share_list li .name { line-height:24px; height:24px;}
.share_list li .name span { display:block; float:left; color:#424242; font-size:16px;}
.share_list li .name i { display:block; float:right; font-size:12px; color:#afafaf;}
.share_list li .img span { display:block; float:left; margin-right:10px;}
.share_list li .txt p { line-height:18px; margin:5px 0px;}
.share_list li .ico_box { height:24px; line-height:24px; margin:5px 0px;}
.share_list li .ico_box a { display:block; float:right; margin-left:25px; padding-left:20px;}
.share_list li .ico_box a.ico_zan { background:url(../images/pc_page/ico_zan.png) no-repeat left; background-size:16px 16px;}
.share_list li .ico_box a.ico_pl { background:url(../images/pc_page/ico_pl.png) no-repeat left; background-size:16px 16px;}
.share_list li .ico_box a.ico_zaned { background:url(../images/pc_page/ico_zan2.png) no-repeat left; background-size:16px 16px; color:#ff9b30}
.share_list li .ico_box a.ico_pled { background:url(../images/pc_page/ico_pl2.png) no-repeat left; background-size:16px 16px; color:#ff9b30;}
.share_list li .com_list { border-top:1px solid #e5e5e5; padding:8px 0px; margin-left:70px;}
.share_list li .zan_box { padding-left:25px; color:#ff9b30; background:url(../images/pc_page/ico_zan3.png) no-repeat 0px 3px; background-size:18px 18px; line-height:24px; font-size:12px;}
.share_list li .li_list { margin-top:5px;}
.share_list li .li_list p { line-height:20px; padding:3px 0px;}
.share_list li .li_list span { color:#ff9b30;}
.share_list li:last-child { border-bottom:0px;}
.share_list .com_textbox { margin:5px 0px 5px 70px;}
.share_list .com_textbox .text_area { width:848px; border:1px solid #e5e5e5; border-radius:3px; overflow:hidden; padding:4px 10px; line-height:20px; height:50px; resize:none; margin-bottom:10px;}
.share_list .com_textbox .btn { width:72px; height:30px; color:#fff; background:#ff9b30; border:0px; border-radius:2px; overflow:hidden; float:right;}

.tc_changetext { width:410px; background:#fff; position:fixed; left:50%; margin-left:-205px; top:50%; margin-top:-175px; z-index:9999;}
.tc_changetext .box { padding:10px 25px; border-bottom:2px solid #eee;}
.tc_changetext .box span { display:block; float:left; width:75px; height:32px; line-height:32px; margin-bottom:18px;}
.tc_changetext .box i { display:block; float:left; padding-left:12px; line-height:32px;}
.tc_changetext .box .text { width:126px; float:left; border:1px solid #eee; height:30px; padding-left:10px;}
.tc_changetext .box .text2 { width:272px; float:left; border:1px solid #eee; height:30px; padding-left:10px;}
.tc_changetext .box .yzm_btn { width:127px; height:32px; background:#a3a3a3; color:#fff; float:right; border:0px;}

.tc_selrange { width:750px; height:505px; position:fixed; z-index:9999; left:50%; margin-left:-390px; top:50%; margin-top:-250px; background:#fff;}
.tc_selrange .range { height:448px;}
.tc_selrange .range .l_box { width:230px; float:left; height:448px; padding-left:20px;}
.tc_selrange .range .r_box { width:490px; float:right; height:448px; border-left:2px solid #eee;}
.tc_selrange .range .sel_xx { padding:0px 15px 5px 15px;}
.tc_selrange .range .sel_xx .sel_box { padding-bottom:10px;}
.tc_selrange .range .sel_xx li { float:left; border:1px solid #eee; height:30px; line-height:30px; padding:0px 10px; margin-bottom:10px; margin-right:10px; position:relative;}
.tc_selrange .range .sel_xx li .del { display:block; width:16px; height:16px; position:absolute; right:-6px; top:-6px; cursor:pointer;}
.tc_selrange .range .r_box #Pagination { margin:10px auto;}
.tc_selrange .range .r_box .tc_btnbox { margin:10px 0px;}

.tc_worksheet { width:730px; position:fixed; z-index:9999; left:50%; margin-left:-390px; top:50%; background:#fff;}
.tc_worksheet td a.del { margin-right:0px;}
.tc_worksheet .tab_list { padding:10px 15px 25px 15px;}
