<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>交易审核</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <link rel="stylesheet" type="text/css" href="../css/login.css"/>
     <script src="../js/jquery-3.1.1.min.js"></script>
     <script src="../js/vue.js"></script>
     
 </head>
 <body>
    <!-- <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div> -->
<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        交易审核
    </div>

<!--vipInfo-->
<div style="margin-bottom: 5px;margin-top:10px;border-bottom:1px solid #f2f1f1;padding-bottom: 10px;">
    <div  :class="`vipInfo-active vipInfo  v${orderInfo.forder}-c`" 
    :style="`background-image:url('../img/V${orderInfo.forder}_BG.png')`">
      <span style="margin-bottom:5px;">{{orderInfo.forderName}}专享视频</span>
      您的任务奖励还可以翻倍哦！每邀请一位新好友即可获得1000成长值，两位好友就有1.1倍任务奖励。
      <img :src="`../img/V${orderInfo.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
</div>

<div class="payVipInfoCont">
    <div style="font-weight: 600;">{{orderInfo.typename}}专享影视</div>
    <div>交易单号 ：{{orderInfo.ordernum}}</div>
    <div>出售日期 ：{{orderInfo.selltime}}</div>
    <div>出售价格 ：<span style="color:#F36257;font-weight:600;">￥{{orderInfo.cardprice}}</span></div>
    <div>剩余审核时间 ：<font v-cloak>{{fmtTimeSecond(orderInfo.remaintime,orderInfo,true)}}</font></div>
</div>

<div style="font-weight:600;margin-top:10px;margin-bottom:5px;width: 94%;margin-left: 3%;font-size: 0.9rem;color: #555;">
    买家资料信息/交易凭证
    <span @click="showBuy = !showBuy"
    style="border: 1px solid #777;padding: 2px 10px;border-radius: 10px;font-weight: 500;font-size: 0.8rem;margin-left: 20px;">
        <span v-if="!showBuy">点击查看</span>
        <span v-if="showBuy">点击隐藏</span>
    </span>
</div>
<div class="colUserCont" v-show="showBuy">
    <div class="colLeft">
        <div>付款时间 : {{orderInfo.selltime}}</div>
        <div>手机号 ：{{orderInfo.phone}}</div>
        <div>买家姓名 : {{orderInfo.realname}} </div>
        <div>付款凭证 : 见右图</div>
    </div>
    <div class="colRigth">
        <img :src="reqPath+orderInfo.payorder" style="width: 100%;height:100%;">
    </div>
    <div class="clear"></div>
</div>
<div style="width:94%;margin-left: 3%;font-size:0.8rem;color: #777;line-height: 1.2rem;margin-top:10px;">
    温馨提示 ：为避免您的经济损失，请确保您已收款再点击审核通过，一旦交易审核通过将不可回退 。 <br/>
    如您没有收到交易款，请按照如下步骤进行操作<br/>
    1. 仔细查看您的银行卡，支付宝，微信各种收款方式是否有进账记录。<br/>
    2. 点击“查看买家信息”，通过微信或电话联系买家确认是否有进行支付，如买家还未支付可提醒买家尽快支付 。<br/> 
    3. 以上方式都未得到处理，您可以到售后服务中心申请强制冻结此单，此操作将会冻结您买家的账号，等待系统审查。
</div>


<br/>
<div class="but-cont">
    <div class="btn btn-200" @click="payConfirmContStatus = true">审 核 通 过</div>
</div>

<!--确认支付窗口-->
<div class="payConfirmCont" v-show="payConfirmContStatus">
    <span style="position:absolute;right:15px;margin-top:5px;font-size:0.8rem;color:#999;" @click="payConfirmContStatus = false">关闭</span>
    <div class="inputCont">
        <div style="font-size:1rem;font-weight:600;color:#555;margin-top:20px;margin-bottom:10px;">支付密码：</div>
        <input type="password"  v-model="paypassword" placeholder="请输入您的支付密码" maxlength="16"/>
        <div class="but-cont" style="margin-top: 20px;">
            <div class="btn btn-200" @click="confirmCheck"> 确 认 </div>
        </div>
    </div>
</div>
<!--end 确认支付窗口-->

<br/><br/><br/><br/><br/>
</section>

 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a   href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
       </li>
       <li class="list_li cart">
           <a   href="javascript:void(0);" shref="../gameList.html" class="text">享玩游戏</a>
       </li>
       <li class="list_li profile">
           <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
<!-- end footer-->
</body>

<script>
new Vue({
    el: '#app',
    data: function() {
        return {
            showBuy:false,
            reqPath : reqPath,
            orderInfo:{} ,
            payConfirmContStatus:false,
            paypassword:'',
        }
    },
    created() {
        this.orderid = this.GetQueryString('orderid');
        this.initExamine(this.orderid);
    },
    methods:{
        //查询
        initExamine(orderid){
            var vueThis = this;
            jAjax("/appVipCard/initExamine",{orderid:orderid},function(data){
                vueThis.orderInfo = data;  
            });
        },
        //立即审核
        confirmCheck(){
            if(!this.paypassword || this.paypassword.length<6){
                jqtoast('请正确输入支付密码！');
                return;
            }
            var reqData = {
                orderid:this.orderInfo.orderid,
                buyuserid:this.orderInfo.buyuserid,
                selluserid:this.orderInfo.selluserid,
                profitprice:this.orderInfo.profitprice,
                paypassword:this.paypassword
            };
            jAjax("/appVipCard/examinePast",reqData,function(data){
                if(data.status=='0'){
                    jqtoast('审核已完成！');
                    window.location.href = "bagSale.html";
                }else{
                    jqtoast(data.message);
                }
                
            });
        },
        //获取URL参数
        GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        },
    //格式化 秒 时间显示
    fmtTimeSecond(second,item,isCount){
        if(isCount){
            this.setInterFun(item)
        }
        if(second<60){
            return second+'秒';
        }else{
            return parseInt(second/60)+'分'+(second%60)+'秒';
        }
    },
    //定时函数
    setInterFun(item){
        var vueThis = this;
        if(!vueThis.timer){
            vueThis.timer = setInterval(()=>{
                item.remaintime -= 1;
                if(item.remaintime<=0){
                    item.isbuy = 1;
                    clearInterval(vueThis.timer);
                }
            },1000);
        }
    }
  }
})
  </script>

</html>