	<!DOCTYPE html>
	 <html lang="en">
	 <head>
	     <meta charset="UTF-8">
	     <title>享GO影视</title>
	     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
	     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
	     <link rel="stylesheet" type="text/css" href="../css/index.css"/>
	     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
	     <script src="../js/jquery-3.4.1.js"></script>
	     <script src="../js/vue.js"></script>
	     <script src="../js/jq-alert.js"></script>
	 </head>
	 <body >
		<div id="btt" style="opacity: 0;width:100%;position: fixed;top: 435px;height:50px;z-index: 4;border-radius: 5px;background-color: #fff;"></div>

	<section class="main"  id="app" class="app">
	    <div class="title" style="position: fixed;z-index:3;background-color:#fff;">
	         <img src="../img/to-left.png" v-if="comment.orderid" :onclick="`window.location.href='bagOwnInfo.html?orderid=${comment.orderid}'`"/>
	         <img src="../img/to-left.png" v-else onclick="window.location.href='../index.html'"/>
	        观影好评
	    </div>

	<div class="comment">
		<div v-if="comment.orderid">
			<span style="font-weight:600;margin-left:20px;">全部好评</span>
			<span style="float: right;margin-right:55px;" v-if="wMin<=1" @click="goComment">
				参与评论
			</span>
			<span style="float: right;margin-right:55px;" v-if="wMin>1"  v-cloak>
				再观看{{wMin}}秒可评论
			</span>
			<img src="../img/edit-ic.png"/>
		</div>
		<div v-else>
			<span style="font-weight:600;margin-left:20px;" >VIP会员观看更多精彩影视</span>
		</div>
	    
	    
	    
	</div>



<div id="contMsg">

</div>
<iframe :src="httpurl"  scrolling="no"  class="videoFrame" id="scrollWrap">
</iframe>

	 <footer id="footer">
	    <ul id="footer_list" style="z-index: 2;">
	       <li class="list_li home active">
	           <a href="../index.html" class="text">首页</a>
	       </li>
	       <li class="list_li follow" >
	           <a  href="../community.html" class="text">享互动</a>
	       </li>
	       <li class="list_li cart">
	           <a  href="../gameList.html" class="text">享玩游戏</a>
	       </li>
	       <li class="list_li profile">
	           <a  href="../myCenter.html" class="text">我的</a>
	       </li>
	   </ul>
	  </footer>
	<!-- end footer-->

	<!--评论窗口-->
	<div id="commentWindow" style="display: none;">
	    <div class="loading commentLoadCont" style="background-color:#fff;opacity: 0.9 !important;"></div>
	    <div class="commentWinCont">
			<span style="font-weight:500;position:absolute;top:15px;" @click="colseCommentWind"> < 返回观影</span>
	        <div class="xinCont">
	            为影片打分：
	            <img :src="comment.stars>0?'../img/sXin.png':'../img/eXin.png'" @click="comment.stars=1" class="xin"/>
	            <img :src="comment.stars>1?'../img/sXin.png':'../img/eXin.png'" @click="comment.stars=2" class="xin" style="margin-left: 30px;"/>
	            <img :src="comment.stars>2?'../img/sXin.png':'../img/eXin.png'" @click="comment.stars=3" class="xin" style="margin-left: 60px;"/>
	            <img :src="comment.stars>3?'../img/sXin.png':'../img/eXin.png'" @click="comment.stars=4" class="xin" style="margin-left: 90px;"/>
	            <img :src="comment.stars>4?'../img/sXin.png':'../img/eXin.png'" @click="comment.stars=5" class="xin" style="margin-left: 120px;"/>
	            &nbsp;&nbsp;&nbsp;&nbsp;
	            <span style="margin-left:130px;">{{comment.stars}}星</span>
	        </div>
	        <div style="width: 80%;margin-top: 30px;">
	            不想打字？嫌打字太麻烦？那么试试好评标签吧。一键您输入评论信息！
	        </div><br/>
	        <div style="width:88%;height: 108px;">
	            <div class="commentLabe">哇这个视频真好看</div>
	            <div class="commentLabe" style="margin-left:122px;margin-top:5px;">哎哟不错很棒棒哦</div>
	            <div class="commentLabe" style="margin-left:245px;margin-top:2px;">挺好看的</div>
	            <div class="commentLabe" style="margin-top:35px;">视频很好看，请问好评送女朋友吗？</div>
	            <div class="commentLabe" style="margin-top:48px;margin-left:222px;">天呐太精彩了</div>
	            <div class="commentLabe" style="margin-top: 70px;margin-left: 50px;">这世界那么美，有你才完美</div>
	        </div>
	        <div>我要评论:</div>
	        <textarea class="commentText" ref="commentText">
	        </textarea>
	        <div style="font-size: 0.8rem;color:#f67e1c;font-weight:500;">{{errMsg}}</div>
	        <div>
	            <div class="btn btn-200" @click="subComment" style="margin-left:18%;margin-top: 5px;">立 即 评 论</div>
	        </div>
	    </div>
	</div>
	<!--end评论窗口-->
	</section>





<div style="z-index: 13;
position: fixed;
bottom: 33px;
text-align: center;
width: 100%;">
	<img src="../img/ontop.png" style="width: 45px;z-index:99;" onclick="toTop()"/>
</div>
</body>

<script  type="text/javascript">
	var gTop = 435;
	$("#btt").css({"top":gTop})
function toTop(){
	window.scrollTo(0, 0);
}
window.addEventListener('scroll', this.scrollHandle, true);
document.getElementsByTagName('body')[0].scrollTop = 0;    
window.onscroll=function(){
    scrollHandle();
}
function scrollHandle () {
    var videoEle = document.getElementById("app");
    const offset = videoEle.getBoundingClientRect(); // vue中，使用this.$el获取当前组件的根元素
    const offsetTop = offset.top;
    const offsetBottom = offset.bottom;
    const offsetHeight = offset.height;
	var h = gTop + offsetTop;
    $(document.getElementById("btt")).css({"top":h+"px"});
}



		function bodyScroll(event){ 
			event.preventDefault(); 
		}
	    $(function(){
	        $(".commentLabe").click(function(){
	            $(".commentLabe").removeClass("commentLabeActiv");
	            $(this).addClass("commentLabeActiv");
	            $(".commentText").val($(this).html());
	        })
	    })

	    new Vue({
	      el: '#app',
	      data: function() {
	        return {
	            httpurl:'',
				comment:{
	                stars:3,
					comment:'',
					movieid:'',
					orderid:'',
	            },
	            wMin:10,
				defaultMin:10,
	            errMsg:'',
	        }
	      },
	      created() {
			  this.httpurl = this.GetQueryString("mv");
			  this.comment.orderid = this.GetQueryString("orderid");
			  this.comment.movieid = this.GetQueryString("movieid");
	          this.scvTime();
	      },
	      methods:{
	          //提交评论
	          subComment(){
	            this.comment.comment = this.$refs.commentText.value;
	            if(!this.comment.comment){
	                this.errMsg = "您还没有输入评论哟！";
	                return;
	            }
	            let sel = this;
	            if(this.comment.stars<5){
	                $("#commentWindow").hide();
	                jqalert({
	                    title:'提示',
	                    prompt:'太难啦，给个五星好不好？',
	                    yestext:'给个5星吧',
	                    notext:'就是不给',
	                    yesfn:function () {
	                        $("#jq-alert").remove();
	                        $("#commentWindow").show();
	                    },
	                    nofn:function () {
	                        sel.confirmSubComment();
	                    }
	                }) 
	            }else{
	                sel.confirmSubComment();
	            }
	          },
	          //确认提交评论
	          confirmSubComment(){
				var vueThis = this;
					jAjax("/appVipCard/commentMovie",this.comment,function(data){
						if(data.status==0){
							jqtoast('评论成功');
							vueThis.colseCommentWind();
						}else{
							jqtoast(data.message);
						}
					});
	          },
			  colseCommentWind(){
				this.scvTime();
				$("#commentWindow").hide();
				document.body.removeEventListener('touchmove',bodyScroll,false); 
				$("body").css({"position":"initial","height":"auto"});     
				document.scrollingElement.scrollTop = 0;
			  },
	          scvTime(){
	            var timer = setInterval(()=>{
	                this.wMin -= 1;
	                if(this.wMin<=1){
	                    clearInterval(timer);
	                }
	            },1000);
	        },
	        //打开评论窗口
	        goComment(){
				window.scrollTo(0, 5000)
	            $("#commentWindow").show();
	            this.comment.comment='';
	            this.wMin = this.defaultMin;
				$('body').css({'position':'fixed','top':'-500px',"width":"100%"});
				document.body.addEventListener('touchmove',bodyScroll,false); 

	        },
			//获取URL参数
			GetQueryString(name){
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if(r!=null)return  unescape(r[2]); return null;
			}
	      }
		})

	  </script>

	</html>