<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>我的卡包</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
 </head>
 <body>
    <!-- <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div> -->

<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        我的卡包
    </div>

<div class="gabTitle">
    <div onclick="window.location.href='bagPayWait.html'">抢购中</div>
    <div onclick="window.location.href='bagOwn.html'">已拥有</div>
    <div onclick="window.location.href='bagSale.html'">出售中</div>
    <div onclick="window.location.href='bagHistory.html'" class="active">历史任务</div>
    <b class="clear"></b>
</div>

<!--vipInfo-->
<div v-for="(item,i) in historyCardList" style="margin-bottom:15px;" v-cloak>
    <div  :class="`vipInfo-active vipInfo  v${item.forder}-c`" 
    :style="`background-image:url('../img/V${item.forder}_BG.png')`">
      <span style="margin-bottom:5px;">{{item.typename}}</span>
      用享购一边看一边赚 邀请好友领取任务卡完成任务后可获得翻倍任务奖励哟！
        <div class="v-numver" style="width: 90%;margin-top:35px;">
            <div>交易单号：{{item.ordernum}}</div>
            <div>出售时间：{{item.buytime.substr(0,10)}}</div>
            <div>任务奖励：{{item.profitprice}}</div>
            <div>任务状态：<b>已完成</b></div>
            <span class="clear">
      </div>
      <img :src="`../img/V${item.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
</div>
<div v-if="historyCardList.length==0" class="notList">没有历史记录</div>
</section>



 <!--footer-->
 <br/><br/><br/>
 <footer id="footer">
  <ul id="footer_list">
     <li class="list_li home active">
         <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
     </li>
     <li class="list_li follow" >
         <a   href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
     </li>
     <li class="list_li cart">
         <a   href="javascript:void(0);" shref="../gameList.html" class="text">享玩游戏</a>
     </li>
     <li class="list_li profile">
         <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
     </li>
 </ul>
</footer>
<!-- end footer-->
</body>

<script>

new Vue({
    el: '#app',
    data: function() {
    return {
        historyCardList : [],
    }
    },
    created() {
        this.getMyHisCardList();
    },
    methods:{
    //查询已拥有列表
    getMyHisCardList(){
        var vueThis = this;
        jAjax("/appVipCard/getMyHisCardList",{},function(data){
            vueThis.historyCardList = data.resultlist;  
        });
    }

  }
})

  </script>

</html>