<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>产品库</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <style>
        *{
           -webkit-box-sizing: content-box;
           box-sizing: content-box;
           -webkit-tap-highlight-color: transparent;
       }
       .mgsBUTred {margin-top:-11px;}
    </style>
 </head>
 <body style="background:#f8f8f8;">
<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
         产品库
    </div>

<div class="gabTitle">
    <div onclick="window.location.href='bagPayWait.html'">待支付</div>
    <div onclick="window.location.href='bagOwn.html'" class="active">我的产品</div>
    <div onclick="window.location.href='bagSale.html'">待出售</div>
    <div onclick="window.location.href='bagHistory.html'">历史订单</div>
    <b class="clear"></b>
</div>


 <div class="ownEl"  v-for="(item,i) in myCardList"  v-cloak >
    <img :src="reqPath+item.iconimg">
    <div class="ownElmsg">
        <div style="font-size:0.9rem;color:#333;font-weight:bold;">{{item.title}}</div>
        <div style="margin-top:10px;">此产品从购买日期{{item.commentstartdays}}天内不得在平台再次交易，且出售价不得高于购买原价{{100+item.yield}}%</div>
        <div style="position: absolute;bottom:10px;width: 100%;">
            <b style="font-size:1rem;color:#e82893;">￥{{item.cardprice}}</b>
            <div style="float: right;margin-right:20px;margin-top:4px">{{item.buytime}}</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div v-if="item.remaincount>0 || item.status!=4" style="width:100%;height:35px;margin-top: -10px;">
        <div class="kongbtn" :onclick="`window.location.href='../productInfo.html?kitid=${item.kitid}'`" style="position:absolute;right:15px;margin-top:3px;">查看详情</div>
    </div>
    <div v-else  style="width:100%;height:35px;margin-top: -10px;" >
        <div class="kongbtn" :onclick="`window.location.href='../productInfo.html?kitid=${item.kitid}'`" style="position:absolute;right:120px;margin-top:3px;">查看详情</div>
        <div class="kongbtn" :onclick="`window.location.href='bagSelling.html?orderid=${item.orderid}&cardid=${item.orderid}'`" style="position:absolute;right:15px;margin-top:3px;">立即出售</div>
    </div v-else>
</div>

<!--vipInfo-->
<!-- <div v-for="(item,i) in myCardList" style="margin-bottom:15px;" v-cloak>
    <div  :class="`vipInfo-active vipInfo  v${item.forder}-c`" 
    :style="`background-image:url('../img/V${item.forder}_BG.png')`">
      <span style="margin-bottom:5px;">{{item.typename}}</span>
      领取{{item.typename}} {{item.commentstartdays}} 天后且再观影好评{{item.commentcount}} 次可转让您的任务卡！领取{{item.yield}}%任务奖励。
        <div class="v-numver" style="width: 90%;margin-top:45px;">
            <div>购买时间：{{item.buytime.substr(0,10)}}</div>
            <div>任务有效期：{{item.duetime.substr(0,10)}}</div>
            <div>购买价格：{{item.cardprice}}</div>
            <div>任务完成率：{{item.alreadycount?item.alreadycount:'0'}}/{{item.commentcount}}</div>
            <span class="clear">
      </div>
      <img :src="`../img/V${item.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
    <div v-if="item.remaincount>0 || item.status!=4">
        <input type="button" value="查 看 任 务" :class="`active-but  v${item.forder}-bg`" 
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    <div v-else>
        <input type="button" value="查 看 任 务" :class="`active-but  v${item.forder}-bg`" style="float:left;width:48%;margin:1px 0px 0px 2%;"
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>

        <input type="button" value="立 即 出 售" :class="`active-but  v${item.forder}-bg`"  style="float:left;width:48%;margin:1px 0 0 0%;"
            :onclick="`window.location.href='bagSelling.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    <div class="clear"></div>
</div> -->



<!-- 
<div v-for="(item,i) in myCardList" >
    <div style="width: 96%;margin-left: 2%;margin-bottom:15px;padding-bottom: 10px;background: #fff;border-radius:5px;box-shadow: #c7c7c7 1px 1px 5px 1px;">
        <div  :class="`vipInfo-active vipInfo  `" style="margin:0 !important;padding: 0 !important;width:100% !important;" >
            <img :src="`../img/V${item.forder}_BG.jpg`" style="width: 100%;height: 100%;border-top-right-radius: 5px;border-top-left-radius: 5px;">
        </div>
        <div class="clear"></div>
        <div class="vipInfoCommmsg">
            <div class="vipimgTItle" style="width:100%;">若需转卖您的产品且通过平台发布信息，出售价格不得高于原价{{100+item.yield}}%</div>
            <div style="width:100%;">
                温馨提醒：通过平台购买的此产品，在{{item.commentstartdays}}天之内不得再次交易，且出售价格不得高于购买原价的{{100+item.yield}}%
            </div>
            <div style="width:100%;">
                入库日期：{{item.buytime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                价格：{{item.cardprice}}
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div v-if="item.remaincount>0 || item.status!=4">
            <input type="button" value="查 看 详 情" :class="`active-but  v${item.forder}-bg`" 
                :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
        </div>
        <div v-else>
            <input type="button" value="查 看 详 情" :class="`active-but  v${item.forder}-bg`" style="float:left;width:48%;margin:1px 0px 0px 2%;"
                :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    
            <input type="button" value="立 即 出 售" :class="`active-but  v${item.forder}-bg`"  style="float:left;width:48%;margin:1px 0 0 0%;"
                :onclick="`window.location.href='bagSelling.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
        </div>
    </div>
</div> -->

















<div v-if="myCardList.length==0" class="notList">您还没有拥有任务卡</div>
</section>

<br/><br/><br/>

 <!--footer-->
 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a  href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
        </li>
        <li class="list_li cart">
            <a   href="javascript:void(0);" shref="../activity.html" class="text">享购</a>
        </li>
        <li class="list_li cart">
           <a   href="javascript:void(0);" shref="../gameList.html" class="text">游戏</a>
       </li>
       <li class="list_li profile">
           <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
 <!-- end footer-->
</body>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/vue.js"></script>

<script>
new Vue({
    el: '#app',
    data: function() {
    return {
        reqPath : reqPath,
        myCardList : [],
        }
    },
    created() {
        this.getWaitPayCard();
    },
    methods:{
    //查询已拥有列表
    getWaitPayCard(){
        var vueThis = this;
        jAjax("/appVipCard/getMyCardList",{},function(data){
            vueThis.myCardList = data.resultlist;  
        });
    }

  }
})

</script>

</html>