<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>享GO</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
 </head>
 <body>
    <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div>

<section class="main"  id="app">
    <div class="title">
        <img src="../img/to-left.png" onclick="history.back(-1)"/>
        我的卡包
    </div>

<div class="gabTitle">
    <div onclick="window.location.href='bagPayWait.html'">抢购中</div>
    <div onclick="window.location.href='bagOwn.html'" class="active">已拥有</div>
    <div onclick="window.location.href='bagSale.html'">出售中</div>
    <div onclick="window.location.href='bagHistory.html'">历史VIP卡</div>
    <b class="clear"></b>
</div>

<!--vipInfo-->
<div v-for="(item,i) in myCardList" style="margin-bottom:15px;" class="defaultNone">
    <div  :class="`vipInfo-active vipInfo  v${item.forder}-c`" 
    :style="`background-image:url('../img/V${item.forder}_BG.png')`">
      <span style="margin-bottom:5px;">{{item.typename}}</span>
      即日起购买{{item.typename}} {{item.commentstartdays}} 天后且您再观影好评{{item.remaincount}} 次可转让您的VIP卡！领取{{item.yield}}%观影收益。
        <div class="v-numver" style="width: 90%;margin-top:45px;">
            <div>购买时间：2020-09-03</div>
            <div>购买价格：123</div>
            <div>VIP卡剩余天数：5天</div>
            <div>观影好评次数：3</div>
            <span class="clear">
      </div>
      <img :src="`../img/V${item.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
    <div v-if="item.remaincount>0 && false">
        <input type="button" value="立 即 观 影" :class="`active-but  v${item.forder}-bg`" 
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    <div v-else>
        <input type="button" value="立 即 观 影" :class="`active-but  v${item.forder}-bg`" style="float:left;width:47%;margin:1px 0 0 2%;"
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>

        <input type="button" value="立 即 出 售" :class="`active-but  v${item.forder}-bg`"  style="float:left;width:47%;margin:1px 0 0 2%;"
            :onclick="`window.location.href='bagSelling.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    
</div>
<div v-if="myCardList.length==0" class="notList">您还没有拥有VIP会员卡</div>
</section>



 <!--footer-->
 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a href="../index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a  href="../activity.html" class="text">活动中心</a>
       </li>
       <li class="list_li cart">
           <a  href="../cardBag/bagOwn.html" class="text">卡包</a>
       </li>
       <li class="list_li profile">
           <a  href="../myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
<!-- end footer-->
</body>

<script>

new Vue({
    el: '#app',
    data: function() {
    return {
        myCardList : [],
    }
    },
    created() {
        this.getWaitPayCard();
    },
    methods:{
    //查询已拥有列表
    getWaitPayCard(){
        var vueThis = this;
        jAjax("/appVipCard/getMyCardList",{userid:getCptToken()},function(data){
            vueThis.myCardList = data.resultlist;  
            vueThis.myCardList[0].forder = 1;
        });
    }

  }
})

</script>

</html>