<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>我的卡包</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <script src="../js/jquery-3.4.1.js"></script>
     <script src="../js/vue.js"></script>
     <script src="../js/jq-alert.js"></script>
 </head>
 <body>
    <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div>

<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        我的卡包
    </div>

<div class="gabTitle">
    <div onclick="window.location.href='bagPayWait.html'">抢购中</div>
    <div onclick="window.location.href='bagOwn.html'" class="active">已拥有</div>
    <div onclick="window.location.href='bagSale.html'">出售中</div>
    <div onclick="window.location.href='bagHistory.html'">历史任务</div>
    <b class="clear"></b>
</div>

<!--vipInfo-->
<div v-for="(item,i) in myCardList" style="margin-bottom:15px;" v-cloak>
    <div  :class="`vipInfo-active vipInfo  v${item.forder}-c`" 
    :style="`background-image:url('../img/V${item.forder}_BG.png')`">
      <span style="margin-bottom:5px;">{{item.typename}}</span>
      领取{{item.typename}} {{item.commentstartdays}} 天后且再观影好评{{item.commentcount}} 次可转让您的任务卡！领取{{item.yield}}%任务奖励。
        <div class="v-numver" style="width: 90%;margin-top:45px;">
            <div>购买时间：{{item.buytime.substr(0,10)}}</div>
            <div>任务有效期：{{item.duetime.substr(0,10)}}</div>
            <div>购买价格：{{item.cardprice}}</div>
            <div>任务完成率：{{item.alreadycount?item.alreadycount:'0'}}/{{item.commentcount}}</div>
            <span class="clear">
      </div>
      <img :src="`../img/V${item.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
    <div v-if="item.remaincount>0 || item.status!=4">
        <input type="button" value="查 看 任 务" :class="`active-but  v${item.forder}-bg`" 
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    <div v-else>
        <input type="button" value="查 看 任 务" :class="`active-but  v${item.forder}-bg`" style="float:left;width:48%;margin:1px 0px 0px 2%;"
            :onclick="`window.location.href='bagOwnInfo.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>

        <input type="button" value="立 即 出 售" :class="`active-but  v${item.forder}-bg`"  style="float:left;width:48%;margin:1px 0 0 0%;"
            :onclick="`window.location.href='bagSelling.html?orderid=${item.orderid}&cardid=${item.orderid}'`"/>
    </div>
    <div class="clear"></div>


    
</div>
<div v-if="myCardList.length==0" class="notList">您还没有拥有任务卡</div>
</section>

<br/><br/><br/>

 <!--footer-->
 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a href="../index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a  href="../community.html" class="text">享社区</a>
       </li>
       <li class="list_li cart">
           <a  href="../cardBag/bagOwn.html" class="text">卡包</a>
       </li>
       <li class="list_li profile">
           <a  href="../myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
<!-- end footer-->
</body>

<script>

new Vue({
    el: '#app',
    data: function() {
    return {
        myCardList : [],
        }
    },
    created() {
        this.getWaitPayCard();
    },
    methods:{
    //查询已拥有列表
    getWaitPayCard(){
        var vueThis = this;
        jAjax("/appVipCard/getMyCardList",{},function(data){
            vueThis.myCardList = data.resultlist;  
        });
    }

  }
})

</script>

</html>