<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>购买任务卡</title>
     <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
     <link rel="stylesheet" type="text/css" href="../css/public.css"/>
     <link rel="stylesheet" type="text/css" href="../css/myCenter.css"/>
     <link rel="stylesheet" type="text/css" href="../css/login.css"/>
     <script src="../js/jquery-3.1.1.min.js"></script>
     <script src="../js/vue.js"></script>
     
     <script src="../js/exif.js"></script>
 </head>
 <body>
    <!-- <div class="loading" id="loadingWindow" style="display:block;background:#fff;opacity: 0.9;"><img src="../img/timg.gif"/></div> -->
<section class="main"  id="app">
    <div class="title">
         <img src="../img/to-left.png" onclick="history.back(-1)"/>
        购买任务卡
    </div>
<div>
<!--vipInfo-->
<div style="margin-bottom: 5px;margin-top:10px;border-bottom:1px solid #f2f1f1;padding-bottom: 10px;">
    <div  :class="`vipInfo-active vipInfo  v${orderInfo.forder}-c`" 
    :style="`background-image:url('../img/V${orderInfo.forder}_BG.png')`" v-cloak>
      <span style="margin-bottom:5px;"   v-cloak>{{orderInfo.typename}}专享任务</span>
      领取{{orderInfo.typename}} {{orderInfo.commentstartdays}} 天后且您再完成相应任务要求即可转让您的任务卡！领取{{orderInfo.yield}}%任务奖励。
      邀请好友还可以获取翻倍任务奖励哦
      <img :src="`../img/V${orderInfo.forder}_IC.png`" class="v-img" style="width:120px;height:120px;"/>
    </div>
    <div class="clear"></div>
</div>

<div class="payVipInfoCont">
    <div style="font-weight: 600;"><font v-cloak>{{orderInfo.forderName}}</font>专享影视</div>
    <div>交易单号 ：<font v-cloak>{{orderInfo.ordernum}}</font></div>
    <div>购买日期 ：<font v-cloak>{{orderInfo.buytime}}</font></div>
    <div>任务有效期 ：<font v-cloak>{{orderInfo.duetime}}</font></div>
    <div>交易状态 ：<span style="color:#F36257;font-weight:600;">待支付</span></div>
    <div>购买价格 ：<span style="color:#F36257;font-weight:600;" v-cloak >{{orderInfo.cardprice}}</span></div>
</div>

<div style="font-weight:600;font-size: 0.9rem;color:#555;margin-left:4%;margin-top:10px;">请选择支付方式</div>
<div class="operationEl payOption">
    <img src="../img/XGO-ic.png"/>
    <span>XGO币</span>
    <span class="money"><span style="color:#555;font-weight:500;font-size:0.9em;"  v-cloak>{{orderInfo.xgocoin}}</span>
</div>
<div class="operationEl payOption" @click="selectPayType(1)">
    <img src="../img/wx-ic.png"/>
    <img src="../img/sele-ic.png" style="left:180px;" v-if="payType==1"/>
    <span>微信</span>
</div>
<div class="operationEl payOption" @click="selectPayType(2)">
    <img src="../img/zfb-ic.png"/>
    <img src="../img/sele-ic.png" style="left:180px;" v-if="payType==2"/>
    <span>支付宝</span>
</div>
<div class="operationEl payOption" @click="selectPayType(3)">
    <img src="../img/bank-ic.png"/>
    <img src="../img/sele-ic.png" style="left:180px;" v-if="payType==3"/>
    <span>银行卡</span>
</div>
<div class="colUserCont" v-if="payType!=0">
    <div class="colLeft">
        <div style="font-weight:600;margin-top:10px;">收款人信息</div>
        <div v-if="payType==1">
            <div>收款人名称：<font v-cloak>{{orderInfo.weixinrealname}}</font></div>
            <div>微信号：<font v-cloak>{{orderInfo.weixinnum}}</font></div>
            <div>手机号：<font v-cloak>{{orderInfo.phone}}</font></div>
            <div>收款码: 见右图</div>
        </div>
        <div v-if="payType==2">
            <div>收款人名称：<font v-cloak>{{orderInfo.alipayrealname}}</font></div>
            <div>支付宝账号：<font v-cloak>{{orderInfo.alipaynum}}</font></div>
            <div>手机号：<font v-cloak>{{orderInfo.phone}}</font></div>
            <div>收款码: 见右图</div>
        </div>
        <div v-if="payType==3">
            <div>收款人名称：<font v-cloak>{{orderInfo.bankrealname}}</font></div>
            <div>银行名称：<font v-cloak>{{orderInfo.bank}}</font></div>
            <div>银行卡号：<font v-cloak>{{orderInfo.banknum}}</font></div>
            <div>手机号：<font v-cloak>{{orderInfo.phone}}</font></div>
        </div>
    </div>
    <div class="colRigth">
        <img v-if="payType==1" :src="reqPath+orderInfo.weixinqrcode" style="width: 100%;height:100%;">
        <img v-if="payType==2" :src="reqPath+orderInfo.alipayqrcode" style="width: 100%;height:100%;">

        <div v-if="payType==1" class="showbigImg" @click="showbigImgWin(reqPath+orderInfo.weixinqrcode)">+点击查看大图</div>
        <div v-if="payType==2" class="showbigImg" @click="showbigImgWin(reqPath+orderInfo.alipayqrcode)">+点击查看大图</div>
    </div>
    <div class="clear"></div>
</div>
<div class="payVoucher" v-if="payType!=0">
    <div style="font-weight:600;margin-top:10px;">请上传支付凭证</div> 
    <input onchange="fileChangeFun2(this,'pzImg','pzBase64');" class="imgFileInput" type="file" accept="image/*" multiple="">
    <img src="../img/default-zfpz.png" id="pzImg"/> 
    <input id="pzBase64" ref="pzBase64" type="hidden" />

</div>





<div class="but-cont"v-if="payType!=0">
    <div class="btn btn-200" @click="commitPay">我 已 支 付</div>
</div>
</div>
<br/><br/><br/><br/><br/>

<!--确认支付窗口-->
<div class="monmc" v-cloak  @click="payConfirmContStatus = false" v-if="payConfirmContStatus"></div>
<div class="payConfirmCont" v-cloak  v-show="payConfirmContStatus">
    <span style="position:absolute;right:15px;margin-top:15px;font-size:0.8rem;color:#999;" @click="payConfirmContStatus = false">关闭</span>
    <div class="inputCont">
        <div style="font-size:1rem;font-weight:600;color:#555;margin-top:20px;margin-bottom:10px;">支付密码：</div>
        <div style="padding-bottom: 15px;text-align:center;color:#f3742a;">请确保您已付款再提交支付凭证！</div>
        <input type="password"  v-model="paypassword" placeholder="请输入您的支付密码" maxlength="16"/>
        <div class="but-cont" style="margin-top: 20px;">
            <div class="btn btn-200"  @click="submitPay"> 确 认 </div>
        </div>
    </div>
</div>
<!--end 确认支付窗口-->

<!--查看大图-->
<div class="bigImgbg" v-if="showBigFlg"></div>
<div class="showBIGiMGwiND" v-if="showBigFlg">
    <img :src="bigImgSrc"/>
    <img src="../img/close.png" style="width: 35px;margin-top: 10px;" @click="showBigFlg = false"/>
</div>
<!--查看大图-->



</section>

 <footer id="footer">
    <ul id="footer_list">
       <li class="list_li home active">
           <a  href="javascript:void(0);" shref="../index.html" class="text">首页</a>
       </li>
       <li class="list_li follow" >
           <a   href="javascript:void(0);" shref="../community.html" class="text">享互动</a>
       </li>
       <li class="list_li cart">
           <a   href="javascript:void(0);" shref="../gameList.html" class="text">享玩游戏</a>
       </li>
       <li class="list_li profile">
           <a   href="javascript:void(0);" shref="../myCenter.html" class="text">我的</a>
       </li>
   </ul>
  </footer>
<!-- end footer-->




</body>

<script>
new Vue({
    el: '#app',
    data: function() {
        return {
            showBigFlg:false,
            reqPath : reqPath,
            orderid:'',
            payType:2,
            orderInfo:{},
            payConfirmContStatus:false,
            paypassword:'',
            bigImgSrc:""
        }
    },
    created() {
        this.orderid = this.GetQueryString('orderid');
        this.getPayVipCardInfo(this.orderid);
    },
    methods:{
        showbigImgWin(bsrc){
            this.bigImgSrc = bsrc;
            this.showBigFlg = true;
        },
        //查询
        getPayVipCardInfo(orderid){
            var vueThis = this;
            jAjax("/appVipCard/getPayVipCardInfo",{orderid:orderid},function(data){
                vueThis.orderInfo = data;  
            });
        },
        //选择支付方式
        selectPayType(payType){
            this.payType = payType;
        },
        //提交支付
        commitPay(){
            var pzBase64 = this.$refs.pzBase64.value;
            if(!pzBase64){
                jqtoast('请上传支付凭证！');
                return;
            }
            this.payConfirmContStatus = true;
        },
        //确认支付
        submitPay(){
            if(!this.paypassword || this.paypassword.length<6){
                jqtoast('请正确输入支付密码！');
                return;
            }
            var pzBase64 = this.$refs.pzBase64.value;
            var reqData = {orderid:this.orderid,payorder:pzBase64,status:2,paypassword:this.paypassword};
            jAjax("/appVipCard/payVipCard",reqData,function(data){
                if(data.status=='0'){
                    jqtoast('提交成功！');
                    window.location.href = "bagPayWait.html";
                }else{
                    jqtoast(data.message);
                }
                
            });
        },
        //获取URL参数
        GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
  }
})
</script>

</html>