.addrel{
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 10px 15px 10px;
    box-sizing: border-box;
    font-size: 1rem;
}
.addrel .addresstex{
    font-size: 0.8rem;
    font-weight: normal;
    display: block;
    margin-top: 5px;
    padding-right: 30px;
    color: #333;
}
.addrbut{
    font-size: 0.8rem;
    position: absolute;
    color: #555;
    right: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top:5px;
}
.addAddressWin{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index:2;
}
.addAddrel{
    width: 96%;
    margin-left: 2%;
    height: 60px;
    line-height: 60px;
    font-size: 0.9rem;
    border-bottom: 1px solid #e9e9e9;
    color: #333;
    letter-spacing: 1px;
}
.addAddrel input{
    width: 80%;
    height: 100%;
    border: 0;
    font-size: 0.85rem;
    letter-spacing: 1px;
    float: right;

}
.addisdefault img{
    width: 25px;
    position: absolute;
    margin-top: 17px;
    margin-left: 30px;
}
/* .addAddrel{} */