.userInfo{
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding: 10px 5px 10px 0px;
}
.userInfo img{
    width: 50px;
    height: 50px;
    float: left;
}
.userInfo .userName{
    width: 110px;
    height: 50px;
    float: left;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    padding: 0 0 0 12px;
}
.userInfo .qiand{
    margin: 10px 20px 0 0;float:right;
}
.userInfo .userName span{
    display: block;
}
.userInfo .userName img{
    width: 15px;
    height: 17px;
}
.userInfo .userName .renz{
    font-size: 0.8rem;font-weight:500;color:#777;margin-top:5px;
}

.vipInfo{
    width: 96%;
    height: 180px;
    margin-left: 2%;
    background-size:100% 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    padding: 30px 0 0 20px;
}
.vipInfo-active{
    width: 96% !important;
    margin-left: 2% !important;
    padding: 15px 75px 0 15px !important;
}
.vipInfo span{
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
}
.vipInfo .v-img{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    margin-top: -49px;
    opacity: 0.7;
}
.v-numver{
    width: 200px;
    height: auto;
    position: absolute;
    margin-top: 40px;
}
.v-numver span{
    font-size: 0.8rem !important;
}
.v-numver div{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.jdt-father {
    width:200px !important;
    height:5px;
    margin: 5px 0 5px 0;
    background: hsla(0,0%,100%,.6);
    border-radius: 15px;
}
.jdt-father div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.operationEl{
    width: 94%;
    margin-left: 3%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f3f2f2;
    font-size: 0.9rem;
    color: #555;
}
.operationEl img{
    width: 24px;
    height: 24px;
    margin-top: 13px;
    position: absolute;
}
.operationEl span{
    margin-left: 35px;
}
.userXGOBut{
    display: inline;
    float: right;
    margin-right: 20px;
}
.active-but{
    width: 96%;
    margin-left: 2%;
    height: 35px;
    font-size: 0.9rem;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #dfdfdf;
    margin: 1px 2% 0 2%;
}
.gabTitle{
    width: 100%;
    height: 35px;
    margin-bottom: 30px;
}
.gabTitle div{
    width: 25%;
    height: 50px;
    float: left;
    font-size: 0.9rem;
    text-align: center;
    line-height: 50px;
    border-bottom: 3px solid #ebe9e9;
}
.gabTitle .active{
    border-bottom: 3px solid #ed602a !important;
    font-weight: 600 !important;
    color: #ed602a !important;
}
.payWaitLoad{
    width: 96%;
    height: 215px;
    background: #000;
    opacity: .5;
    margin-left: 2%;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -230px;
    border-radius: 5px;
}
.payWaitLoad img{
    width: 150px;
    height: 150px;
    display: inline;
    margin-top: 20px;
}
.payVipInfoCont{
    width: 92%;
    margin-left: 4%;
    font-size: 0.9rem;
    color: #555;
}
.payVipInfoCont div{
    margin-bottom: 5px;
}
.payMoney{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #F36257;
}
.colUserCont{
    width: 94%;
    margin-left: 3%;
    font-size: 0.9rem;
    color: #555;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f2;
}
.colUserCont .colLeft{
    width: 55%;
    height: 150px;
    float: left;
}
.colUserCont .colLeft div{
    margin-bottom: 6px;
}
.colUserCont .colRigth{
    width: 150px;
    height: 150px;
    float: right;
}
.payOption{
    height: 45px;
    line-height: 45px;
}
.payVoucher{
    font-size: 0.9rem;
    color: #555;
    width: 94%;
    margin-left: 3%;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f2;
}
.payVoucher img{
    width: 100%;
    height: 300px;
    border: 1px #dfdfdf dashed;
    margin-top: 10px;
}
.comment{
    width: 100%;
    height: 55px;
    line-height: 55px;
    /* font-size: 0.9rem; */
    color: #555;
    border-bottom: 1px solid #f2f1f1;
    background: #fff;
    z-index: 2;
    position: absolute;
}
.comment img{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 17px;
    right: 31px;
}
.videoFrame{
    width: 100%;
    height: 1000px;
    border: 0;
    top: 50px;
    position: absolute;
    z-index: 1;
}
.commentWinCont{
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #444;
    padding: 90px 30px;
}
.commentWinCont .xinCont{
    width: 100%;
}
.commentWinCont .xinCont .xin {
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -3px;
}
.commentLabe{
    font-size: 0.8rem;
    border-radius: 10px;
    font-weight: 500;
    padding: 2px 6px 2px 6px;
    border: 1.2px solid #f67e1c;
    display: inline;
    position: absolute;
    font-size: 1.1rem;  
}
.commentLabeActiv{
    background-color: #f67e1c;
    color: #fff;
}
.commentText{
    width: 85%;
    height: 60px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
    border: 1.2px solid #f67e1c;
}
.setPayMoney{
    width: 90%;
    font-size: 0.9rem;
    color: #555;
    margin-left: 5%;
}
.setPayMoney input{
    width: 78%;
    height: 40px;
    font-size: 0.8rem;
    border: 1px solid #dfdfdf;
    text-align: center;
    color: #777;
}
.setPayMoney input::-webkit-input-placeholder{
    font-size: 0.8rem;
    color: #777;
}