 /*公共部分*/
 *{     
     margin: 0;
     padding: 0;
 }
 .html,body,.wrap{
     width: 100%;
 }
  
  body{
      background: #fff;
      max-width: 580px;
  }
  footer,header{
    max-width: 580px;
  }
  .sqAddButCont,#iSlider-effect-wrapper,.sqDetailMsgCont,.v-numver{
    max-width: 580px;
  }
  html{
      max-width: 580px !important;
  }
  
 ul{
      list-style-type: none;
  }
  
  a{
      text-decoration: none;
      color: #777;
  }
 
  /* a:active{
      text-decoration: underline;
      color: #000;
  } */
  a:link{text-decoration:none; }  /* 指正常的未被访问过的链接*/
  a:visited{text-decoration:none; }/*指已经访问过的链接*/
  a:hover{text-decoration:none;}/*指鼠标在链接*/
  a:active{text-decoration:none;}/* 指正在点的链接*/ 

  input,button{
    outline:none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .clear{
      clear: both;
      border:0px !important;
  }

  /**头部TITLE*/
.title{
    width: 100%;
    /* border-bottom: 1px solid #f2f1f1; */
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    color: #333333;
    text-align: center;
    background-color: #f7f7f7;
    /* position: fixed;
    top: 0; */
    z-index: 3;
    /* display: none; */
}
.title img{
    width: 40px;
    height: 45px;
    position: absolute;
    left: 2px;
}

 /*header部分*/
header{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    position: fixed;
    background: #fff;
    z-index: 3;
    padding-bottom: 4px;
    top: 0;
}
header .logo{
    width: 35%;
    float: left;
    padding: 10px 0 0px 15px;
}
header .logo img{
    width: 105px;
    height: 35px;
    position: absolute;
    top: 7px;
}
header .searchCont{
    text-align: right;
    width: 60%;
    float: left;
    padding: 10px 0 10px 0px;
}

header .searchCont img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
}
header .searchCont input{
    height: 30px;
    width: 80%;
    font-size: 0.7rem;
    border: 0;
    color: #8e8a8a;
    text-align: right;
    padding-right: 45px;
    background: #f7f7f7;
    border-radius: 15px;
}
header .searchCont input::-webkit-input-placeholder{
    color: #8e8a8a;
}
.but-cont{
    width: 100%;
    text-align: center;
}
.btn{
    text-align: center;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    background-image: linear-gradient(90deg,#77cdfe,#c0c0ec);
    border-radius: 50px;
    font-size: 13px;
    display: inline-block;
}
.btn-200{
    width: 200px !important;
    height: 35px !important;
    line-height: 35px !important;
}
 
  /*footer部分*/
  footer{
      border-top: 1px solid #ededed;
      background-color: #fff;
      width: 100%;
      height: 50px;
      position: fixed;
      bottom: -1px;
      padding-top: 5px;
      z-index: 5;
      opacity: 0.95;
  }
  
  #footer_list .list_li{
      float: left;
      height: 50px;
      color:#777;
      line-height: 70px;
      width: 20%;
      font-size: 12px;
     text-align: center;
     z-index: 2;
     padding-top:1px;
 }
  
 #footer_list .list_li:nth-child(1){
     background: url(../img/ic-shouye-activ.png) no-repeat;
     background-size: 26px 26px;
     background-position: top;
     z-index: 2;
 }

  #footer_list .list_li:nth-child(1):active{
      background: url(../img/ic-shouye-activ.png) no-repeat;
      background-size: 26px 26px;
      background-position: top;
      z-index: 2;
  }
 
  #footer_list .list_li:nth-child(2){
      background: url(../img/ic-xianghd-activ.png) no-repeat;
      background-size: 26px 26px;
      background-position: top;
      z-index: 2;
  }
  
  #footer_list .list_li:nth-child(2):active{
     background: url(../img/ic-xianghd-activ.png) no-repeat;
     background-size: 26px 26px;
     background-position: top;
     z-index: 2;
 }
 
 #footer_list .list_li:nth-child(3){
    background: url(../img/ic-xianggo-activ.png) no-repeat;
    background-size: 26px 26px;
    background-position: top;
    z-index: 2;
}

#footer_list .list_li:nth-child(3):active{
   background: url(../img/ic-xianggo-activ.png) no-repeat;
   background-size: 26px 26px;
   background-position: top;
   z-index: 2;
}




 #footer_list .list_li:nth-child(4){
     background: url(../img/ic-gamei-activ.png) no-repeat;
     background-size: 26px 26px;
     background-position: top;
     z-index: 2;
 }
 
 #footer_list .list_li:nth-child(4):active{
     background: url(../img/ic-gamei-activ.png) no-repeat;
     background-size: 26px 26px;
     background-position: top;
     z-index: 2;
 }
 
 #footer_list .list_li:nth-child(5){
   background: url(../img/ic-myde-activ.png) no-repeat;
     background-size: 26px 26px;
     background-position: top;
     z-index: 2;
 }
 
 #footer_list .list_li:nth-child(5):active{
    background: url(../img/ic-myde-activ.png) no-repeat;
     background-size: 26px 26px;
    background-position: top;
    z-index: 2;
 }
 .contentTitle{
     width: 100%;
     padding: 5px 0 5px 0;
     font-size: 1rem;
     font-weight: 600;
     color: #555;
     margin-bottom: 5px;
     margin-top: 10px;
 }
 .mtop1000{
     margin-top: 1000px !important;
 }
 /**不同等级会员字体颜色*/
 .v0-c{color: #555555;}
 .v1-c{color: #805333;}
 .v2-c{color: #707580;}
 .v3-c{color: #806242;}
 .v4-c{color: #457580;}
 .v5-c{color: #405980;}
 .v6-c{color: #674a80;}
 .v7-c{color: #ce84fd;}
 .v8-c{color: #dbb3f6;}

 .v0-bg{background-image: linear-gradient(90deg,#3748aa,#90bcf0);}
 .v1-bg{background-image: linear-gradient(90deg,#3748aa,#90bcf0);}
 .v2-bg{background-image: linear-gradient(90deg,#d94a51,#c69499);}
 .v3-bg{background-image: linear-gradient(90deg,#0b376b,#02798d);}
 .v4-bg{background-image: linear-gradient(90deg,#723e63,#dc7566);}
 .v5-bg{background-image: linear-gradient(90deg,#70614e,#af9774);}
 .v6-bg{background-image: linear-gradient(90deg,#514bb9,#9980df);}
 .v7-bg{background-image: linear-gradient(90deg,#1f3c39,#7cd2bc);}
 .v8-bg{background-image: linear-gradient(90deg,#6b1726,#4366ae);}

 .vip0-bg{background-color: #555555;}
 .vip1-bg{background-color: #805333;}
 .vip2-bg{background-color: #707580;}
 .vip3-bg{background-color: #806242;}
 .vip4-bg{background-color: #457580;}
 .vip5-bg{background-color: #405980;}
 .vip6-bg{background-color: #674a80;}
 .vip7-bg{background-color: #ce84fd;}
 .vip8-bg{background-color: #5e128e;}

 .money{
    color:#6daefe;
    font-size: 1rem;
    font-weight: 600;
 }
 
/*jq-alert弹出层封装样式*/
.jq-alert{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    list-style: none;
    font-size: 16px;
    color: rgba(0,0,0,.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    z-index: 99;
}
.jq-alert .alert{
    background-color: #FFF;
    width:80%;
    height:auto;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.9;
}
.jq-alert .alert .title{
    position: relative;
    margin: 0;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;
    color: rgba(0,0,0,.8);
}
.jq-alert .alert .content{
    padding: 15px;
    font-size: 14px;
    color: rgba(0,0,0,.6);
}
.jq-alert .alert .content .prompt{
    width:100%;
}
.jq-alert .alert .content .prompt .prompt-content{
    font-size: 14px;
    color: rgba(0,0,0,.54);
}
.jq-alert .alert .content .prompt .prompt-text{
    background:none;
    border:none;
    outline: none;
    width: 100%;
    height: .6rem;
    box-sizing: border-box;
    margin-top: .2rem;
    background-color: #FFF;
    border:1px solid #dcdcdc;
    text-indent:5px;
}
.jq-alert .alert .content .prompt .prompt-text:focus{
    border: 1px solid #2196F3;
    background-color: rgba(33,150,243,.08);
}
.jq-alert .alert .fd-btn{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
}
.jq-alert .alert .fd-btn:after{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width:100%;
    height: 1px;
    background-color: #F3F3F3;
}
.jq-alert .alert .fd-btn a{
    width:100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.8);
}
.jq-alert .alert .fd-btn a.cancel{
    position: relative;
    color: rgba(0,0,0,.5);
}
.jq-alert .alert .fd-btn a.cancel:after{
    content: "";
    position: absolute;
    top:5px;
    right:0;
    width: 1px;
    height: 30px;
    background-color: #F3F3F3;
}
.jq-alert .alert .fd-btn a.confirm{
    color: #2196F3;
}
.jq-alert .alert .fd-btn a.confirm:active{
    background-color: #2196F3;
    color: #FFF;
}
.jq-toast{
    z-index: 999;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}
.jq-toast .toast{
    max-width: 80%;
    padding: 5px 10px;
    background-color: rgba(0,0,0,.48);
    color: #FFF;
    border-radius: 4px;
    font-size: 14px;
}
/**加载中蒙版**/
.loading{width: 100%;height: 100%;opacity:1;position:fixed;top:0;left:0;bottom:0;right:0;z-index: 99;display:block;}
.loading img{display: block;width:90px;height:90px;position:fixed;top:50%;left: 50%;margin-left: -45px;margin-top:-45px;}
/*end jq-alert弹出层封装样式*/
.imgFileInput{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
    margin-top: 10px;
}
[v-cloak]{display:none !important;}
.kongbtn{
    text-align: center;
    width: 90px;
    height: 28px;
    line-height: 28px;
    background-color: transparent;
    border-radius: 0;
    letter-spacing:1px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    color: #63a0f8;
    border: 1px solid #63a0f8;
}
.qbtitleGbk{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #dfdede;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0.6;
    z-index: 3;
}
.qbtitleGbk img{
    width: 34px;
    height: 34px;
}
.userxyInfo{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index:12;
    background: #f9f9f9;
}
.userxyInfo .ussmsgggg{
    letter-spacing: 2px;
    color: #555;
    padding: 15px;
    letter-spacing: 2px;
    height: 90%;
    overflow: auto;
}
.myisRead{
    height: 45px;
    line-height: 45px;
    background-color: #4988f3;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    border-radius: 25px;
    position: fixed;
    bottom: 5px;
    width: 90%;
    left: 5%;
}
.userxyBUt{
    width: 100%;
    height: auto;
    min-height: 100px;
    background: #fff;
    border-top: 1px solid #ececec;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.9rem;
 }
 .userxyBUt img{
    width: 20px;
    position: absolute;
 }
 .userxyBUt .usersub{
    height: 45px;
    line-height: 45px;
    background-color: #4988f3;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
 }
 .xianghudimg{
    -webkit-transition: .7s;
    -webkit-transition: -webkit-transform .7s ease-out;
    transition: transform .7s ease-out;
    -moz-transition: -moz-transform .7s ease-out;
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline;
    margin-top: -4px;
 }
 .refreshactive{transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
 .msgLoad{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background-color: #e2def4;
    position: fixed;
    z-index: 99;
    top: 0;
    opacity: 0.95;
 }
 .msgLoadCont{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    padding: 10px;
    top: 0;
    color: #232222;
    box-sizing: border-box;
 }
 .msgLoadCont img{
    width: 25px;
    height: 25px;
    opacity: 0.8;
    display: inline !important;
 }
 .msgTitleSpan{
    position: absolute;
    font-size: 0.9rem;
    margin-top: 3px;
    letter-spacing: 1px;
    margin-left: 5px;
 }
 .msgWinCont{
    padding: 5px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: #333;
    height: 61px;
    overflow: hidden;
}
.mgsBUTred{
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    margin-top: -2px;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}