@charset "utf-8";
/* CSS Document */

body { background:#999;}
.body_bg { background:#898989;}

.page_img img { width:100%;}

.page_bt { width:100%; position:fixed; z-index:50; left:0px; bottom:0px;}
.page_bt img { width:100%;}
.txt_box { position:absolute; z-index:101; background:url(../images/guide/txt_bg.png) no-repeat; background-size:100% 100%; width:300px; height:170px; left:50%; margin-left:-150px;}
.txt_box .box { position:relative; height:170px;}
.txt_box .arrow_01 { position:absolute; width:40px; left:5%; top:-54px;}
.txt_box .arrow_02 { position:absolute; width:40px; left:35%; top:-54px;}
.txt_box .arrow_03 { position:absolute; width:40px; right:5%; top:-54px;}
.txt_box .arrow_04 { position:absolute; width:40px; right:6%; bottom:-54px;}
.txt_box .arrow_05 { position:absolute; width:40px; left:36%; top:-54px;}
.txt_box .arrow_06 { position:absolute; width:40px; right:35%; top:-54px;}
.txt_box .xx { padding:40px 25px 0px 25px;}
.txt_box .xx p { height:60px; line-height:20px;}
.txt_box .xx p.p_02 { padding:10px 30px;}
.txt_box .xx p.p_03 { padding:0px 20px;}
.txt_box .xx span { display:block; padding:10px 55px 0px 0px;}
.txt_box .xx a { display:block; border-radius:3px; background:#ff9b30; width:70px; text-align:center; line-height:30px; float:right; color:#fff;}
