@charset "utf-8";
/* CSS Document */

.contentWrap{width:100%; margin:auto; background:#fff; position:relative;}
.contentWrap ul{ -webkit-transition:left 800ms ease-in 0; -moz-transition:left 800ms ease-in 0; -o-transition:left 800ms ease-in 0; -ms-transition:left 800ms ease-in 0; transition:left 800ms ease-in 0;}
.contentWrap #pagenavi{position:absolute;left:0; bottom:4px;text-align:center;width:100%;}
.contentWrap #pagenavi a{ width:12px; height:12px; border-radius:12px; line-height:99em; background:#fff; margin:0 1px; overflow:hidden;cursor:pointer; display:inline-block; *display:inline;*zoom:1; opacity:0.5;}
.contentWrap #pagenavi a.active{background:#fff; opacity:1.0;}

.index_menu { margin:8px 0px; background:#fff; padding:12px 0px 10px 0px; position:relative;}
.index_menu li { float:left; width:25%; padding:8px 0px;}
.index_menu li.mid { width:34%;}
.index_menu li b { display:block; width:48%; text-align:center; min-width:62px; max-width:114px; margin:0px auto; border-radius:15px; padding:10px; position:relative;}
.index_menu li span { display:block; text-align:center; line-height:20px; margin-top:6px;}
.index_menu li i { display:block; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; background:#fa302e; border-radius:20px; position:absolute; right:-5px; top:-5px; font-size:12px; font-weight:normal;}
.index_menu li .bg1 { background:#00aeef;}
.index_menu li .bg2 { background:#89d043;}
.index_menu li .bg3 { background:#f05e4b;}
.index_menu li .bg4 { background:#3dccb4;}
.index_menu li .bg5 { background:#31c27c;}
.index_menu li .bg6 { background:#ecc506;}
.index_menu li .bg7 { background:#ff79b5;}
.index_menu li .bg8{ background:#71aaff;}
.index_menu li .bg9 { background:#ff7b5d;}
.index_menu li .bg10 { background:#877cda;}
.index_menu .span_box { position:absolute; bottom:12px; height:2px; width:36px; left:50%; margin-left:-12px;}
.index_menu .span_box span { display:block; float:left; width:12px; height:12px; border-radius:12px; background:#e5e5e5; overflow:hidden; text-indent:-999px; overflow:hidden; margin:0px 3px;}
.index_menu .span_box span.active { background:#ff9b30;}


.db_list { background:#fff; padding:0px 10px;}
.db_list .name { padding:0px 15px; line-height:42px; height:43px; font-size:16px; color:#424242; border-bottom:1px solid #bababa;}
.db_list .name span { display:block; float:left; position:relative;}
.db_list .name i { display:block; color:#fb7777; position:absolute; top:2px; right:-24px; width:24px; height:24px; border:1px solid #fb7777; line-height:22px; border-radius:24px; text-align:center; font-size:12px;}
.db_list .name em { display:block; width:6px; height:6px; overflow:hidden; border-radius:6px; background:#fff; text-indent:-999px; overflow:hidden; position:absolute; right:-8px; top:18px;}
.db_list ul { padding:5px 0px;}
.db_list li { border-bottom:1px solid #e3e3e3; padding:0px 15px; line-height:36px; height:37px; overflow:hidden;}
.db_list li span { display:block; float:left; max-width:72%; overflow:hidden; height:36px;}
.db_list li.bg1 span { background:url(../images/index/ico_msg01.png) no-repeat left; background-size:16px 16px; padding-left:20px;}
.db_list li.bg2 span { background:url(../images/index/ico_msg02.png) no-repeat left; background-size:16px 16px; padding-left:20px;}
.db_list li i { display:block; float:right; color:#a6a6a6; font-size:12px;}
.db_list li:last-child { border-bottom:0px;}