@charset "utf-8";
/* CSS Document */

.min_height { height:100%; position:relative;}

.logo_name { text-align:center; padding:24% 0px;}
.logo_name img { width:50%; max-width:365px; min-width:160px;}

.text_box { padding:0px 15px;}
.text_box span { display:block; border-bottom:1px solid #a0a0a0; line-height:42px; padding:0px 12px; margin-bottom:12px; position:relative; padding-left:56px;}
.text_box span i { display:block; font-size:18px; color:#4f4f4f; width:56px; height:42px; position:absolute; left:12px; top:0px;}
.text_box span input { width:100%; font-size:18px; color:#666; height:42px; line-height:42px; border:0px; background:none;}
.text_box span .yzm_btn { width:92px; height:32px; background:#ffc383;  border:0px; color:#fff; font-size:16px; position:absolute; right:12px; top:5px; line-height:32px; border-radius:2px;}
.text_box span.wid_02 { padding-left:74px;}
.text_box span.wid_02 i { width:74px;}
.text_box span.wid_03 { padding-left:92px;}
.text_box span.wid_03 i { width:92px;}
.text_box b { display:block; padding-top:20px;}
.text_box b input { width:100%; height:42px; background:#6EAEFE; color:#fff; font-size:20px; border:0px; border-radius:2px;}
.pad_top20 { padding-top:28px;}

.reg_box { padding:30px 15px;}
.reg_box span { display:block; border-bottom:1px solid #a0a0a0; line-height:42px; padding:0px 12px 0px 46px; margin-bottom:12px; position:relative;}
.reg_box span input { width:100%; font-size:18px; color:#666; height:42px; line-height:42px; border:0px; background:none;}
.reg_box .yzm_box { position:relative; padding-right:110px;}
.reg_box .yzm_btn { width:102px; height:36px; background:#ccc;  border:0px; color:#fff; font-size:14px; position:absolute; right:0px; top:7px; line-height:36px; border-radius:2px;}
.reg_box span.bg01 { background:url(../images/login/ico_01.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box span.bg02 { background:url(../images/login/ico_02.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box span.bg03 { background:url(../images/login/ico_03.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box span.bg04 { background:url(../images/login/ico_04.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box span.bg05 { background:url(../images/login/ico_05.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box span.bg06 { background:url(../images/login/ico_06.png) no-repeat 15px 50%; background-size:16px 16px;}
.reg_box b { display:block; padding-top:20px; height:62px;}
.reg_box b .btn_login { width:100%; height:42px; background:#6EAEFE; color:#fff; font-size:20px; border:0px; border-radius:2px;}
.reg_box b .btn_next { width:100%; height:42px; background:#ccc; color:#fff; font-size:20px; border:0px; border-radius:2px; float:left;}
.reg_box em { display:block; line-height:24px; padding-top:20px; color:#b3b3b3; font-size:14px;}
.reg_box em a { color:#6EAEFE;}
.reg_box .must { color:#f00; position:absolute; left:5px; top:0px; line-height:42px;}
.reg_box .succes { text-align:center; color:#999; font-size:18px; line-height:24px; padding:20px 0px 30px 0px}

.link_bt { position:absolute; width:100%; padding:0px 15px; height:24px; line-height:24px; bottom:20px; left:0px; font-size:14px;}
.link_bt a.link_a { display:block; float:left; color:#767676;}
.link_bt a.link_b { display:block; float:right; text-decoration:underline; color:#767676;}

.choice_cp { padding:36px 12%;}
.choice_cp li { border:1px solid #e5e5e5; border-radius:2px; line-height:56px; margin-bottom:12px; text-align:center; font-size:18px; color:#424242;}
.choice_cp li.active { background:#ffaf59; border:1px solid #ffaf59; color:#fff;}

.agreement { padding:15px 15px;}
.agreement p { line-height:28px; text-indent:2em; margin-bottom:8px;}
.agreement .btn { padding-top:8px;}
.agreement .btn a { display:block; width:100%; line-height:40px; border-radius:2px; background:#6EAEFE; text-align:center; font-size:18px; color:#fff;}

.reg_nav { padding:32px 15px 0px 15px;}
.reg_nav span { display:block; float:left; width:38px; height:38px; background:#ccc; padding:7px; border-radius:36px;}
.reg_nav .active { background:#6EAEFE;}
.reg_nav i { float:left; display:block; height:2px; background:#e1e1e1; width:50px; text-indent:-999px; overflow:hidden; margin:18px 8px;}



