@charset "utf-8";
/* CSS Document */

.rst_report { background:#fff; margin-top:8px;}
.rst_report .s_name { border-bottom:1px solid #bababa; padding:12px 15px; height:49px;}
.rst_report .s_name span { display:block; float:left; background:url(../images/purchase/ico_shop.png) no-repeat left; background-size:14px 14px; line-height:24px; padding-left:20px; color:#424242; font-size:18px;}
.rst_report .s_name i { color:#6EAEFE; display:block; float:right; border:1px solid #6EAEFE; padding:0px 12px; border-radius:24px; line-height:22px; font-size:14px;}
.rst_report .nav_list { height:83px; border-bottom:1px solid #e5e5e5;}
.rst_report .nav_list li { float:left; line-height:40px; width:25%; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; text-align:center; overflow:hidden; color:#424242;}
.rst_report .nav_list li.active { color:#6EAEFE; border-bottom:1px solid #6EAEFE;}
.rst_report .report_chart { padding:10px 10px;}

.time_sel { background:#fff; height:24px; padding:0px 15px;}
.time_sel b { display:block; height:24px; width:130px; margin:0px auto;}
.time_sel i { display:block; width:24px; height:24px; overflow:hidden; text-indent:-9999px; overflow:hidden; float:left;}
.time_sel i.pre { background:url(../images/public/link_right.png) no-repeat left; background-size:14px 14px;}
.time_sel i.next { background:url(../images/public/link_left.png) no-repeat right; background-size:14px 14px;}
.time_sel input { width:80px; text-align:center; line-height:24px; font-size:16px; color:#6EAEFE; float:left; font-weight:normal;}

.appraise_list { background:#fff;}
.appraise_list li { border-bottom:1px solid #d5d5d5;}
.appraise_list li .head_line { padding:0px 15px; line-height:40px; height:41px;}
.appraise_list li .head_line span { display:block; float:left; color:#424242; padding-left:18px; width:48%; overflow:hidden; height:40px;}
.appraise_list li .head_line span.down { background:url(../images/public/link_down.png) no-repeat left; background-size:13px 13px; }
.appraise_list li .head_line span.up { background:url(../images/public/link_up.png) no-repeat left; background-size:13px 13px;}
.appraise_list li .head_line i { display:block; float:left; color:#757575; font-size:13px;}
.appraise_list li .head_line em { color:#6EAEFE;}
.appraise_list li .head_line a { display:block; float:right; height:24px; font-size:14px; color:#6ac83c; border:1px solid #6ac83c; border-radius:24px; line-height:22px; width:66px; margin:8px 0px; text-align:center;}
.appraise_list li .start_box { border-top:1px solid #d5d5d5;}
.appraise_list li .start { margin:0px 15px; min-height:37px; border-bottom:1px solid #e5e5e5;}
.appraise_list li .start span { display:block; float:left; line-height:36px;}
.appraise_list li .start b { display:block; float:right; height:20px; margin:8px 0px;}
.appraise_list li .start em { display:block; float:left; width:20px; height:20px; margin-left:2px;}
.appraise_list li .start em img { float:left;}
.appraise_list li .span_box { height:36px; line-height:36px; padding:0px 15px;}
.appraise_list li .span_box span { display:block; float:left; padding-left:20px;}
.appraise_list li .span_box span.name { display:block; float:left; background:url(../images/public/ico_user.png) no-repeat left; background-size:13px 13px; width:34%;}
.appraise_list li .span_box span.tel { display:block; float:left; background:url(../images/public/ico_tel.png) no-repeat left; background-size:13px 13px;}
.appraise_list li .span_box span.num { display:block; float:right; background:url(../images/public/ico_desk.png) no-repeat left; background-size:15px 13px;}
.appraise_list li .p_box { color:#999; font-size:14px; line-height:18px; padding:0px 15px 10px 15px;}
.appraise_list li:last-child { border-bottom:0px;}

.appraise_top { background:#fff; padding:12px 0px;}
.appraise_top .s_box { margin:0px auto; height:32px;}
.appraise_top .s_name { float:left; font-size:18px; color:#424242; height:32px; background:url(../images/public/ico_ewm.png) no-repeat left; background-size:32px 32px; line-height:32px; padding-left:42px;}
.appraise_top .txt { color:#afafaf; font-size:14px; line-height:20px; text-align:center; margin-top:8px;}

.add_appraise { background:#fff; padding:0px 10px; margin-top:8px;}
.add_appraise li { padding: 0px 5px; border-bottom:1px solid #e5e5e5; min-height:37px;}
.add_appraise li span { display:block; float:left; line-height:36px;}
.add_appraise li .start { float:right; height:20px; margin:8px 0px;}
.add_appraise li .start em { display:block; float:left; width:20px; height:20px; margin-left:2px;}
.add_appraise li .start em img { float:left;}
.add_appraise li p { color:#999; font-size:13px; line-height:18px; padding-bottom:8px;}
.add_appraise li i { display:block; float:left; width:16px; height:16px; line-height:16px; margin:8px 8px 8px 0px;}
.add_appraise li .text_box { padding-bottom:5px;}
.add_appraise li textarea { width:100%; padding:8px; height:78px; border-radius:3px; line-height:20px; border:1px solid #e5e5e5; resize:none;}
.add_appraise li .text { float:right; height:24px; line-height:24px; text-align:right; margin:6px 0px; border:0px; width:60%; color:#666;}
.add_appraise li .check_box { float:right;}
.add_appraise li .check_box span { display:block; float:left; margin-left:30px; padding-left:20px;}
.add_appraise li .check_box span.check_ed { background:url(../images/public/check_ed.png) no-repeat left; background-size:14px 14px;}
.add_appraise li .check_box span.check { background:url(../images/public/check.png) no-repeat left; background-size:14px 14px;}
.add_appraise li:last-child { border-bottom:0px;}

.nav_list { height:41px; border-bottom:1px solid #e5e5e5; background:#fff; overflow:hidden;}
.nav_list span { display:block; float:left; line-height:40px; width:33%; border-left:1px solid #e5e5e5; text-align:center; overflow:hidden; color:#424242; font-size:18px;}
.nav_list span.active { color:#6EAEFE; border-bottom:1px solid #6EAEFE;}
.nav_list span.first { width:34%;}

.ep_kpi { background:#fff;}
.ep_kpi li { border-bottom:1px solid #d5d5d5; padding:0px 15px;}
.ep_kpi li .time_xx { height:40px; line-height:40px;}
.ep_kpi li .time_xx span { display:block; float:left; color:#424242; font-size:18px; width:56%;}
.ep_kpi li .time_xx i { display:block; float:left; color:#757575; width:35%;}
.ep_kpi li .time_xx b { display:block; float:right; width:14px; height:14px; margin:13px 0px; text-indent:-999px; overflow:hidden;}
.ep_kpi li .time_xx b.down { background:url(../images/public/link_down.png) no-repeat; background-size:14px 14px;}
.ep_kpi li .time_xx b.up { background:url(../images/public/link_up.png) no-repeat; background-size:14px 14px;}
.ep_kpi li em { color:#6EAEFE;}
.ep_kpi li .num { line-height:40px; height:41px; border-top:1px solid #e5e5e5;}
.ep_kpi li .num span { text-align:center; display:block; color:#757575; width:50%; float:left;}
.ep_kpi li:last-child { border-bottom:0px;}

.ep_list { background:#fff;}
.ep_list li { border-bottom:1px solid #d5d5d5; padding:0px 15px; height:41px; line-height:40px; overflow:hidden;}
.ep_list li span { display:block; float:left; color:#424242; font-size:18px; width:28%;}
.ep_list li i { display:block; float:left; width:32%; color:#757575;}
.ep_list li em { display:block; float:right; color:#afafaf; font-size:13px; background:url(../images/public/link_left.png) no-repeat right; background-size:13px 13px; padding-right:20px;}
.ep_list li:last-child { border-bottom:0px;}

.daily_xx { background:#fff; margin-top:8px;}
.daily_xx .name { border-bottom:1px solid #d5d5d5; padding:0px 15px; height:41px;}
.daily_xx .name span { display:block; float:left; line-height:40px; font-size:18px; color:#424242;}
.daily_xx i.ico_show { display:block; float:right; height:24px; width:24px; margin:8px 0px; background:url(../images/public/link_down.png) no-repeat right; background-size:14px 14px; text-indent:-999px; overflow:hidden;}
.daily_xx i.ico_hidden { display:block; float:right; height:24px; width:24px; margin:8px 0px; background:url(../images/public/link_up.png) no-repeat right; background-size:14px 14px; text-indent:-999px; overflow:hidden;}
.daily_xx .title { height:39px; border-bottom:1px solid #e5e5e5; padding:0px 15px;}
.daily_xx .title span { display:block; float:left; line-height:38px; color:#424242;}
.daily_xx .title i { margin:7px 0px;}
.daily_xx ul { padding:0px 15px; border-bottom:1px solid #e5e5e5;}
.daily_xx li { border-bottom:1px solid #e5e5e5;height:37px;}
.daily_xx li span { display:block; float:left; line-height:36px;}
.daily_xx li i { display:block; float:right; line-height:36px; color:#999;}
.daily_xx li .t_text { display:block; height:24px; line-height:24px; border:0px; margin:6px 0px; text-align:right; width:68%; float:right;}
.daily_xx li:last-child { border-bottom:0px;}
.daily_xx .span_box { margin:5px 5px 0px 5px; background:#f6f6f6; padding:5px 10px; position:relative; font-size:14px;}
.daily_xx .span_box em { color:#999;}
.daily_xx .span_box p { padding-left:3em; position:relative; line-height:20px;}
.daily_xx .span_box p em { display:block; position:absolute; left:0px; top:0px;}
.daily_xx .span_box span { display:block; float:left; line-height:20px; width:50%;}
.daily_xx .close { z-index:5; position:absolute; right:0px; top:1px; width:18px; height:18px;}
.daily_xx .btn_box { padding:5px 15px; height:32px;}
.daily_xx a.add { display:block; float:left; height:22px; background:#6EAEFE; line-height:22px; font-size:14px; color:#fff; padding:0px 12px; border-radius:2px;}
.daily_xx .txt { margin:5px 5px 0px 5px; background:#f6f6f6; padding:5px 10px; position:relative; font-size:14px; line-height:20px;}
.pad_bt { padding-bottom:5px;}