@charset "utf-8";
/* CSS Document */

.contentWrap{width:100%; margin:auto; background:#fff; position:relative;}
.contentWrap ul{ -webkit-transition:left 800ms ease-in 0; -moz-transition:left 800ms ease-in 0; -o-transition:left 800ms ease-in 0; -ms-transition:left 800ms ease-in 0; transition:left 800ms ease-in 0;}
.contentWrap #pagenavi{position:absolute;left:0; bottom:4px;text-align:center;width:100%;}
.contentWrap #pagenavi a{ width:12px; height:12px; border-radius:12px; line-height:99em; background:#fff; margin:0 1px; overflow:hidden;cursor:pointer; display:inline-block; *display:inline;*zoom:1; opacity:0.5;}
.contentWrap #pagenavi a.active{background:#fff; opacity:1.0;}

.index_menu { margin:8px 0px; background:#fff; padding:6px 0px 4px 0px; position:relative;}
.index_menu li { float:left; width:25%; padding:8px 0px;}
.index_menu li b { display:block; width:48%; text-align:center; min-width:62px; max-width:114px; margin:0px auto; border-radius:15px; padding:12px; position:relative;}
.index_menu li span { display:block; text-align:center; color:#666; line-height:20px; margin-top:6px;height:20px;word-break:keep-all;white-space:nowrap;overflow:hidden;}
.index_menu li i { display:block; width:20px; height:20px; text-align:center; line-height:20px; color:#fff; background:#fa302e; border-radius:20px; position:absolute; right:-5px; top:-5px; font-size:12px; font-weight:normal;}
.index_menu .bg1 { background:#ffaf30;}
.index_menu .bg2 { background:#bcd533;}
.index_menu .bg3 { background:#d874f1;}
.index_menu .bg4 { background:#71aaff;}
.index_menu .rst_bg1 { background:#40d7b1;}
.index_menu .rst_bg2 { background:#f9c949;}
.index_menu .rst_bg3 { background:#71aaff;}
.index_menu .rst_bg4 { background:#f46d5c;}
.index_menu .rst_bg5 { background:#57d071;}
.index_menu .ws_bg1 { background:#ffaf30;}
.index_menu .ws_bg2 { background:#bfd44d;}
.index_menu .ws_bg3 { background:#d874f1;}
.index_menu .ws_bg4 { background:#71aaff;}
.index_menu .ws_bg5 { background:#ff79b5;}
.index_menu .ws_bg6 { background:#5ddad0;}
.index_menu .ws_bg7 { background:#ff7b5d;}
.index_menu .st_bg1 { background:#ffaf30;}
.index_menu .st_bg2 { background:#bcd533;}
.index_menu .st_bg3 { background:#d874f1;}
.index_menu .st_bg4 { background:#71aaff;}
.index_menu .oa_bg1 { background:#ffaf30;}
.index_menu .oa_bg2 { background:#bfd44d;}
.index_menu .oa_bg3 { background:#d874f1;}
.index_menu .oa_bg4 { background:#71aaff;}
.index_menu .oa_bg5 { background:#ff79b5;}
.index_menu .oa_bg6 { background:#5ddad0;}
.index_menu .oa_bg7 { background:#ff7b5d;}
.index_menu .oa_bg8 { background:#877cda;}
.index_menu .oa_bg9 { background:#ffaf30;}
.index_menu .oa_bg10 { background:#bfd44d;}
.index_menu .oa_bg11 { background:#d874f1;}
.index_menu .oa_bg12 { background:#71aaff;}
.index_menu .oa_bg13 { background:#ff79b5;}
.index_menu .oa_img { width:38px; height:38px;}
.index_menu .bs_bg1 { background:#f88989;}
.index_menu .bs_bg2 { background:#a9cb84;}
.index_menu .bs_bg3 { background:#57c9d6;}
.index_menu .span_box { position:absolute; bottom:12px; height:2px; width:36px; left:50%; margin-left:-12px;}
.index_menu .span_box span { display:block; float:left; width:12px; height:12px; border-radius:12px; background:#e5e5e5; overflow:hidden; text-indent:-999px; overflow:hidden; margin:0px 3px;}
.index_menu .span_box span.active { background:#6EAEFE;}
.index_menu .news_b { padding:0px; width:62px; height:62px; overflow:hidden;}
.index_menu .news_b img { width:62px; height:62px;}
.index_menu .news_b .oa_img { width:62px; height:62px;}
.menu_height { height:218px; overflow:hidden;}

.xx_user { background:#fff; padding:5px 10px; margin-top:8px;}
.xx_user .txt { border-bottom:1px solid #e5e5e5; line-height:36px; color:#999; padding:0px 5px;}
.xx_user .txt em { color:#666;}
.xx_user .txt span { display:block; float:left; height:36px;}
.xx_user .txt span.name { width:40%; overflow:hidden;}
.xx_user .txt b { display:block; float:right; height:16px; margin:10px 0px;}
.xx_user .txt b img { float:left; width:16px; height:16px;}
.xx_user .p_box { line-height:20px; padding:5px;}
.xx_user .last { border-bottom:0px;}
.xx_user .last span { padding-top:8px; line-height:24px;}
.xx_user .text_area { border:1px solid #e5e5e5; width:100%; padding:8px 12px; color:#666; resize:none; height:116px; line-height:20px; margin-top:5px;}

.xx_adduser { background:#fff; padding:5px 10px; margin-top:8px;}
.xx_adduser li { line-height:36px; border-bottom:1px solid #e5e5e5; padding:0px 5px; height:37px;}
.xx_adduser li span { display:block; float:left; width:5.5em; color:#424242;}
.xx_adduser li i { display:block; float:left; margin-right:20px;}
.xx_adduser li a { display:block; width:21px; height:21px; float:left; line-height:21px; margin:7px 0px 8px 0px;}
.xx_adduser li:last-child { border-bottom:0px;}

.page_list .time_name { background:#fff; padding: 0px 15px; border-bottom:1px solid #d5d5d5; height:41px; margin-top:8px;}
.page_list .time_name span { display:block; float:left; line-height:40px; font-size:16px; color:#424242; position:relative;}
.page_list .time_name i { display:block; color:#fb7777; position:absolute; top:2px; right:-24px; width:20px; height:20px; border:1px solid #fb7777; line-height:18px; border-radius:22px; text-align:center; font-size:12px;}
.page_list .time_name em { display:block; width:6px; height:6px; overflow:hidden; border-radius:6px; background:#fff; text-indent:-999px; overflow:hidden; position:absolute; right:-10px; top:14px;}
.page_list .time_name b { display:block; float:right; width:14px; height:14px; margin:13px 0px; text-indent:-999px; overflow:hidden;}
.page_list .time_name b.down { background:url(../images/public/link_down.png) no-repeat; background-size:100% 100%;}
.page_list .time_name b.up { background:url(../images/public/link_up.png) no-repeat; background-size:100% 100%;}
.page_list ul { background:#fff;}
.page_list li { border-bottom:1px solid #d5d5d5; padding:2px 15px;}
.page_list .xx_01 { line-height:40px; height:40px;}
.page_list .xx_01 span { color:#424242; display:block; float:left;}
.page_list .xx_01 span.new { padding-left:12px; background:url(../images/public/red_point.png) no-repeat left; background-size:8px 8px;}
.page_list .xx_01 span.name { display:block; float:left; background:url(../images/public/ico_user2.png) no-repeat left; background-size:13px 13px; padding-left:20px;}
.page_list .xx_01 em { display:block; float:right; height:24px; font-size:12px; color:#fff; border-radius:24px; line-height:24px; padding:0px 12px; margin:8px 0px;}
.page_list .xx_01 em.red {background:#fb2c28; }
.page_list .xx_01 em.green {background:#6ac83c; }
.page_list .xx_01 em.gray {background:#a2a2a2; }
.page_list .xx_01 i { display:block; float:right; margin-right:10px; background:url(../images/public/ico_user2.png) no-repeat left; background-size:13px 13px; padding-left:20px;}
.page_list .xx_01 b { display:block; float:right; height:16px; margin:12px 0px;}
.page_list .xx_01 b img { float:left; width:16px; height:16px;}
.page_list .xx_02 { border-top:1px solid #e5e5e5; line-height:40px; height:41px;}
.page_list .xx_02 span { display:block; float:left; color:#757575;}
.page_list .xx_02 span em { color:#6EAEFE; padding:0px 2px;}
.page_list .xx_02 span.all { width:42%;}
.page_list .xx_02 span.num { width:25%;}
.page_list .xx_02 span.lb { width:39%;}
.page_list .xx_02 span.cb { color:#999;}
.page_list .xx_02 span.qj { width:30%;}
.page_list .xx_02 span.sj { color:#999; float:right;}
.page_list .xx_02 span.name { display:block; float:left; background:url(../images/public/ico_user.png) no-repeat left; background-size:13px 13px; padding-left:20px;}
.page_list .xx_02 span.w_green { color:#56bc3a;}
.page_list .xx_02 span.w_yellow { color:#6EAEFE;}
.page_list .xx_02 span.w_red { color:#f00;}
.page_list .xx_02 i { display:block; float:right; color:#afafaf; font-size:12px;}
.page_list .xx_02 i em { padding:0px 4px;}
.page_list .xx_02 i em.gay { color:#666;}
.page_list .xx_02 i.fzr { float:left; font-size:14px;}
.page_list .xx_02 i.xzr { font-size:14px;}
.page_list .txt { color:#999; line-height:20px; border-top:1px solid #e5e5e5; padding:10px 0px;}
.page_list li .span_list { border-top:1px solid #e5e5e5; padding-top:4px;}
.page_list li .span { height:24px; line-height:24px; position:relative; padding-left:6em;}
.page_list li .span span { display:block; width:6em; position:absolute; left:0px; top:0px; color:#999;}
.page_list li .span i { display:block; height:24px; overflow:hidden;}

.page_list .li_del { padding:0px; height:82px; overflow:hidden;}
.page_list .li_del .li_box { position:relative; width:100%; overflow:hidden; padding:0px 15px; float:left;}
.page_list .li_del a.del_btn { display:block; width:81px; text-align:center; color:#fff; background:#ed3030; float:left; height:81px; line-height:81px;}
.page_list .li_del .ml_64 { margin-left:-81px;}

.tc_ewm { position:fixed; z-index:999; top:50%; margin-top:-160px; left:0px; background:#fff; width:100%; padding:20px 15px;}
.tc_ewm .name_box { margin:0px auto; height:32px;}
.tc_ewm .name_box .name { float:left; background:url(../images/purchase/ico_shop.png) no-repeat left; background-size:16px 16px; padding-left:25px; font-size:18px; line-height:32px;}
.tc_ewm .img { border:1px solid #e5e5e5; width:60%; margin:12px auto 0px auto; padding:10px;}